html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: #404040;
    background-color: #f2f2f2;
}
.dark {
    color: #9cc9c9;
    background-color: #001a1a;
}
.small {
    font-size: 0.8em;
}
.relative {
    position: relative;
}
.no-pad {
    margin: 0 !important;
    padding: 0 !important;
}
.no-display {
    display: none;
}
.mob {
    font-size: 3vw;
}
.clickable:hover {
    font-weight: 700;
    cursor: pointer;
    text-decoration: underline;
}
.hfont {
    font-family: "Courier New", "Lucida Console" !important;
}
.hspan {
    font-family: "Courier New", "Lucida Console";
    padding: 0.2em 0.5em;
    margin: 0 0.3em;
    background-color: #dfdfdf;
    border-radius: 0.2em;
    font-weight: 700;
    display: inline;
}
.txt-right {
    text-align: right;
}
.long-txt {
    white-space: nowrap; 
    overflow: hidden;
    text-overflow: ellipsis;
}
.center-txt {
    text-align: center;
}
.center {
    margin: 0 auto;
}
.fullwidth {
    width: 100%;
}

/* Default link color */
.link {
    color: #325b5b
}
.link:hover {
    font-weight: 700;
}


#chart-graph {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -2;
}
.chart-address {
    position: absolute;
    height: 1em;
    width: 1em;
    border-radius: 50%;
    background-color: black;
}

.graph-wrap {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.graph-action {
    color: #325b5b;
    position: absolute;
    top: 7em;
    left: 1em;
    font-size: 0.8em;
}

.graph-settings {
    position: absolute;
    padding: 0.5em;
    font-size: 0.8em;
    top: 7em;
    right: 1em;

    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 0.5em;

    opacity: 0.7;
    z-index: 1;
    cursor: auto;
}
.graph-settings:hover {
    opacity: 1;
}
.dark .graph-settings {
    background-color: rgba(9, 16, 16, 0.9);
}
.graph-settings-minimise {
    position: absolute;
    top: 1em;
    right: 1em;
    cursor: pointer;
    text-decoration: underline;
}

.graph-settings-placeholder {
    cursor: pointer;
}
.graph-settings-placeholder > div {
    display: inline-block;
}

.graph-settings input, .graph-settings select {
    padding: 0.3em 0.5em;
    border: 0.1em solid lightgray;
    border-radius: 0.3em;
    margin: 0 0.3em;
}
.dark .graph-settings input, .dark .graph-settings select {
    background-color: #122121;
    color: #b3b3b3;
    border-color: #2d5252;
}
.graph-settings input {
    height: 1.25em;
}

.graph-loading {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 4em;
    margin-left: -2em;
}

.graph-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.graph-account {
    height: 2em;
    width: 2em;
    position: absolute;
    background-color: rgba(0, 51, 51, 0);
    margin: -1em 0 0 -1em;
    border-radius: 50%;
    cursor: pointer;
}
.graph-account-detail {
    position: relative;

    margin-top: 2.5em;
    margin-left: 1em;
    transform: translateX(-50%);

    padding: 0.6em;
    background-color: #ffffff;
    border: 0.1em solid #325b5b;
    border-radius: 0.3em;

    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.37em 1.25em 0 rgba(0, 0, 0, 0.19);
    cursor: default;

    z-index: 10;
}
.dark .graph-account-detail {
    background-color: #001a1a;
    border-color: #3f7373;
}
.graph-account-detail-arrow {

    border-top: none;
    border-right: 1em solid transparent;
    border-left: 1em solid transparent;
    border-bottom: 1em solid #325b5b;

    top: -1em;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    z-index: 10;
}
.graph-account-detail-arrow > div {
    border-top: none;
    border-right: 1em solid transparent;
    border-left: 1em solid transparent;
    border-bottom: 1em solid white;

    top: 0.2em;
    position: absolute;
    transform: translateX(-50%);
}
.dark .graph-account-detail-arrow {
    border-bottom-color: #3f7373;
}
.dark .graph-account-detail-arrow > div {
    border-bottom-color: #001a1a;
}
.graph-account:hover {
    background-color: rgba(0, 51, 51, 1);
}
.graph-account:hover > .graph-account-detail {
    display: inline-block;
}
.graph-account-address a {
    color: inherit;
    text-decoration: none;
}

.graph-account-detail-scroll {
    margin-top: 1em;
    padding: 0.4em;
    max-height: 20em;
    background-color: #f2f2f2;
    border-radius: 0.5em;
    border: none;
    border-top: 0.1em solid #e6e6e6;
    border-left: 0.1em solid #e6e6e6;
    overflow-y: auto;
}
.dark .graph-account-detail-scroll {
    border-top-color: #000;
    border-left-color: #000;
    background-color: #091010;
    
}

.graph-account-detail-header { 
    cursor: pointer;
}
.graph-account-detail-header .arrow {
    width: 0.7em;
    margin-left: 0.5em;
    opacity: 0.7;
}
.graph-account-detail-header .arrow:hover {
    opacity: 0.9;
    cursor: pointer;
}

.graph-account-detail-tx {
    padding: 0.7em 0.5em 0.5em 0.5em;
    margin-bottom: 0.5em;

    font-size: 0.8em;
    color: #333333;

    border-top: 0.05em solid #e6e6e6;
    border-left: 0.05em solid #e6e6e6;
    border-bottom: 0.15em solid #cccccc;
    border-right: 0.15em solid #cccccc;
    border-radius: 0.5em;
    background-color: white;

    font-family: "Courier New", "Lucida Console" !important;
}
.dark .graph-account-detail-tx {
    color: #5ba4a4;
    background-color: #001a1a;
    border-top-color: #122121;
    border-left-color: #122121;
    border-bottom-color: #000000;
    border-right-color: #000000;
}

.graph-account-detail-tx-tag-wrap {
    float: right;
}
.graph-account-detail-tx-tag-wrap > * {
    display: inline-block;
    vertical-align: middle;
}
.graph-account-detail-tx-direction {
    padding: 0 0 0.3em 0;
}
.graph-account-detail-tx-tag {
    padding: 0.3em 0.6em;
    border: none;
    border-radius: 1em;
    background-color: #f2f2f2;
    margin: -0.2em 0 0.2em 0.2em;
    color: #404040;
}
.graph-account-detail-tx-tag:hover {
    color: black;
}
.dark .graph-account-detail-tx-tag {
    color: #003333;
}

.graph-account-detail-hash {
    color: #a6a6a6;
}
.dark .graph-account-detail-hash {
    color: #7bb7b7;
}
.graph-account-detail-hash:hover {
    color: #737373;
}
.dark .graph-account-detail-hash:hover {
    color: #ffffff;
}

.graph-tx {
    position: absolute;
    height: 0;
    width: 0;
    margin-top: -1em;
    margin-left: -1em;
    z-index: 10;
}
.graph-tx-detail-tbl {
    border: 0;
}
.graph-tx-detail-tbl-label {
    font-weight: 700;
    white-space: nowrap;
    font-size: 0.8em;
}
.graph-tx-detail-tbl-text {
    padding-left: 1em;
    font-family: "Courier New", "Lucida Console";
    font-size: 0.8em;
    text-align: right;
}
.graph-tx-detail-tbl-text a {
    color: #333333;
    text-decoration: none;
}
.dark .graph-tx-detail-tbl-text a {
    color: #9cc9c9;
}
.graph-tx-detail-tbl-arrow {
    position: relative;
    height: 2em;
    width: 0.2em;
    margin: 0.3em auto;
    background-color: #325b5b;
}
.graph-tx-detail-tbl-arrow > div {
    position: absolute;
    bottom: -0.2em;
    left: -0.5em;
    border-top: 0.6em solid #325b5b;
    border-left: 0.6em solid transparent;
    border-right: 0.6em solid transparent;
    border-bottom: none;
}

.graph-alias {
    position: absolute;
    padding: 0.3em 0.6em;

    top: 3.3em;
    left: -0.5em;

    background-color: #325b5b;
    color: white;
    text-align: left;
    font-size: 0.75em;

    border: 0.15em solid #003333;
    border-radius: 0.3em;
}
.dark .graph-alias {
    color: #bddbdb;
    background-color: #003333;
    border-color: #3f7373;
}

.graph-alias > div {
    position: absolute;
    left: 0.7em;
    height: 0;
    width: 0;
    padding: 0;
    margin: 0;
    
    background-color: transparent;
    border-top: none;
    border-left: 1em solid transparent;
    border-right: 1em solid transparent;
}
/* outer arrow */
.graph-alias > div:first-child {
    top: -1em;
    border-bottom: 1em solid #003333;
}
.dark .graph-alias > div:first-child {
    border-bottom-color: #3f7373;
}
/* outer arrow */
.graph-alias > div:last-child {
    top: -0.8em;
    border-bottom: 1em solid #325b5b;
}
.dark .graph-alias > div:last-child {
    border-bottom-color: #003333;
}

/* Menu --------------------------------------------------------------------------- */
.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 0.5em 1em;

    background-color: #FFFFFF;
    opacity: 0.9;
    transition: opacity 0.1s linear;

    z-index: 9999;
}
.dark .menu {
    background-color: #091010;
}
.menu:hover {
    opacity: 1;
    transition: opacity 0.1s linear;
}

.menu-search {
    width : 100%;
    max-width: 75em;
    display: inline-block;
}
.menu-search input {
    height: 2em;
    border-radius: 0.3em;
    width: 100%;
    font-size: 1.5em;
    text-indent: 1em;
    background-color: #deeded;
}
.dark .menu-search input {
    background-color: #122121;
    color: #b3b3b3;
    border-bottom-color: #1b3131;
    border-right-color: #122121;
    border-top-color: #2d5252;
    border-left-color: #2d5252;
}
.search-button {
    padding: 0.5em 1em;
    margin-left: 0.5em;

    background-color: #325b5b;
    color: #ffffff;
    font-size: 1.5em;

    border-top: 0;
    border-left: 0;
    border-right: 0.12em solid #003333;
    border-bottom: 0.12em solid #003333;
    border-radius: 0.3em;
    cursor: pointer;
}
.dark .search-button {
    color: #9cc9c9;
    background-color: #203b3b;
}
.search-button:hover {
    background-color: #2d5252;
    border-color: #1b3131;
}
.dark .search-button:hover {
    background-color: #1b3131;
    border-color: #122121;
}
.search-img {
    width: 1em;
}

.menu-search-nano-ninja-ack {
    position: absolute;
    left: 3em;
    bottom: 0.5em;
    font-size: 0.6em;
    color: gray;
    font-style: italic;
}
.menu-search-nano-ninja-ack a {
    color: gray;
}
.dark .menu-search-nano-ninja-ack {
    color: #bfbfbf;
}
.dark .menu-search-nano-ninja-ack a {
    color: #bfbfbf;
}

.menu-search-paste-icon-wrap {
    position: absolute;
    right: 0em;
    top: 0.5em;
    height: 2.5em;
    width: 2.5em;
    background-color: rgba(222, 237, 237, 0.8); /* Same as the input background color */
    border-radius: 50%;
}
.dark .menu-search-paste-icon-wrap {
    background-color: rgba(18, 33, 33, 0.8);
}
.menu-search-paste-icon {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    width: 1.5em;
    z-index: 10;
    opacity: 0.6;
    cursor: pointer;
}
.menu-search-paste-icon:hover {
    opacity: 1;
}
.menu-search-paste-icon:hover .menu-search-paste-desc {
    opacity: 1;
}
.menu-search-paste-desc {
    position: absolute;
    top: 3em;
    left: 0;
    margin-left: -4em;
    width: 9em;
    padding: 0.5em;
    background-color: #325b5b;
    border-radius: 0.5em;
    font-size: 0.8em;
    color: white;
    text-align: center;
    opacity: 0;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.37em 1.25em 0 rgba(0, 0, 0, 0.19);
}
.menu-search-paste-desc > div {
    position: absolute;
    top: -0.6em;
    left: 4.3em;
    border: 0.6em solid;
    border-top: none;
    border-left-color: transparent;
    border-right-color: transparent;
    border-bottom-color: #325b5b;
}

.menu-item-wrap {
    float: right;
}
.menu-item {
    position: relative;
    float: right;
    margin-left: 1.5em;
}
.menu-link {
    padding: 1.2em 1em 0 0;
    font-weight: 700;
    color: #3f7373;
    font-size: 1.2em;
}
.menu-link:hover {
    color: #003333;
}

.menu-icon {
    height: 1em;
    width: 1em;
    margin-top: 0.7em;

    padding: 0.4em;
    text-align: center;

    border: 0.3em solid #3f7373;
    border-radius: 50%;

    overflow: hidden;
}
.dark .menu-icon {
    border-color: #2d5252;
    color: #2d5252;
}
.menu-icon .sprite-wrap {
    width: 1.1em;
}
.menu-icon:hover {
    border-color: #003333;
    color: #003333;
    background-color: #c2d6d6;
    cursor: pointer;
}
.dark .menu-icon:hover {
    border-color: #488484;
    color: #488484;
    background-color: #091010;
}

/* Camera */
.menu-camera-icon {
    width: 2.5em;
    margin-top: 0.7em;
    opacity: 0.9;
    cursor: pointer;
}
.dark .menu-camera-icon {
    opacity: 0.7;
}
.menu-camera-icon:hover {
    opacity: 1;
}
.menu-btn {
    width: 2.5em;
    margin-left: 0.8em;
    cursor: pointer;
}

/* Help buttom and styles */

.help {
    margin-top: 0.7em;
}

.help-mark {
    height: 1.2em;
    width: 1.2em;

    font-size: 1.5em;
    font-weight: 700;
    text-align: center;
    
    color: #3f7373;
    border: 0.2em solid #3f7373;
    border-radius: 1.2em;

    cursor: pointer;
}
.help-mark:hover {
    border-color: #003333;
    color: #003333;
    background-color: #c2d6d6;
}
.dark .help-mark {
    border-color: #2d5252;
    color: #2d5252;
}
.dark .help-mark:hover {
    border-color: #488484;
    color: #488484;
    background-color: #091010;
}
.help-bridge {
    position: absolute;
    right: 0;
    top: 1em;
    width: 3em;
    height: 3em;
    z-index: -1;
}
.help-dialog {
    position: absolute;
    max-width: 90vw; /* for mobile compatibility*/
    top: 3em;
    right: 0em;
    height: auto;
    padding: 0.6em;
    background-color: #ffffff;
    border: 0.1em solid #325b5b;
    border-radius: 0.5em;
    box-shadow: 0 0.25em 0.5em 0 rgba(0, 0, 0, 0.2), 0 0.37em 1.25em 0 rgba(0, 0, 0, 0.19);
    z-index: 10;
    display: none;
}
.dark .help-dialog {
    background-color: #001a1a;
}
.help:hover .help-dialog {
    display: block;
}
.help-dialog p {
    font-size: 0.8em;
}
.help-dialog-address-label {
    margin: 0;
    padding: 0 0 0.3em 0;
    font-size: 0.8em;
}
.help-dialog-address {
    padding: 0.3em 0.6em;
    border: none;
    border-radius: 1em;
    background-color: #f2f2f2;
    vertical-align: middle;
    font-size: 0.8em;
    font-family: "Courier New", "Lucida Console";

    /* For overflow purposes */
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: pointer;
}
.dark .help-dialog-address {
    background-color: #2d5252;
}
.help-dialog-address:hover {
    background-color: #d9d9d9;
    color: black;
    transition: all 0.15s linear;
}
.dark .help-dialog-address:hover {
    color: white;
    background-color: #244242;
}

.dark .help-dialog-link {
    color: white;
}

/* Bar loader ------------------------------------------------------------------------- */

.bar-preloader {
    position: relative;
    padding-bottom: 75%;
}
.bar-preloader > div {
    height: 100%;
    position: absolute;
}
.blocks-preloader {
    position: relative;
    padding-bottom: 100%;
}
.blocks-preloader > div {
    position: absolute;
}

/* Sprites ----------------------------------------------------------------------------- */

nn-sprite {
    display: block;
}
nn-sprite > div {
    width: 100%;
    background: url(/resources/sprite.png);
    background-repeat: no-repeat;
}

/* /account? ---------------------------------------------------------------------------- */

.a-load {
    position: absolute;
    width: 4em;
    top: 50%;
    left: 50%;
    margin-left: -2em;
}
.a-wrap {
    width: 90%;
    max-width: 80em;
    margin: 6em auto 0 auto;
    padding-top: 1em;

    /* For the footer */
    min-height: 90vh;
}
.dark .a-wrap {
    color: #808080;
}
.a-account-link {
    color: #404040;
    text-decoration: none;
}
.a-account-link:hover {
    text-decoration: underline;
}
.dark .a-account-link {
    color: #808080;
}

.a-account {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.a-account > div:first-child {    
    min-width: 0;
}
.a-account h2 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.a-account-copy {
    position: relative;
    flex-basis: 1em;
    flex-grow: 0;
    flex-shrink: 0;
    margin-left: 0.5em;
    width: 1em;
    cursor: pointer;
    opacity: 0.7;
}
.a-account-copy .menu-search-paste-desc {
    left: -0.5em;
    top: 2em;
}
.a-account-copy:hover .menu-search-paste-desc {
    opacity: 1;
}

/* Not much difference really between this and .a-account...*/
.a-account-layout > div {
    display: inline-block;
}
.a-account-layout > div:last-child {
    margin-left: 0.3em;
    width: 0.8em;
    opacity: 0.5;
}
.a-account-layout > div:last-child:hover {
    cursor: pointer;
    opacity: 0.7;
}

.a-tx-header > div {
    display: inline-block;
}
.a-tx-header > div:last-child {
    float: right;
}
.a-tx-header-showhide {
    text-decoration: underline;
    margin: 0 1em;

    font-size: 0.8em;
    color: #bfbfbf;
    font-weight: 700;

    cursor: pointer;
}
.a-tx-header-showhide:hover {
    color: gray;
}

.a-bal-tbl {
    margin-top: 1em;
    width: 100%;
}
.a-bal-tbl td {
    padding: 0.5em 0.5em 0.5em 0;
}
.a-bal-tbl td:last-child {
    padding-right: 0;
}

.a-tx-tbl-wrap {
    width: 100%;
    margin-top: 1em;
    overflow: hidden;
}
.a-tx-tbl {
    width: 100%;
}
.a-tx-tbl thead {
    font-weight: 700;
}
.a-tx-tbl thead td {
    border-bottom: 0.05em solid lightgray;
}
.dark .a-tx-tbl thead td {
    border-bottom-color: #404040;
}
.a-tx-tbl td {
    padding: 0.5em 0.5em 0.5em 0;
}
.a-tx-tbl td:last-child {
    padding-right: 0;
}

@media only screen and (max-width: 70em) {
    .a-tx-tbl {
        width: 100%;
    }
    .a-tx-tbl thead {
        display: none;
    }
    .a-tx-tbl tr {
        padding-top: 1.5em;
    }
    .a-tx-tbl tr, .a-tx-tbl tr td:first-child {
        display: block;
    }
    .a-tx-tbl tr td {
        padding-right: 1.5em;
    }
    .a-tx-tbl tr td:first-child {
        padding-bottom: 0;
        padding-right: 0.5em; /* Override the 3em */
    }
}

.a-acc {
    color: #003333;
    text-decoration: none;
}
.dark .a-acc {
    color: #808080;
}
.a-acc:hover {
    font-weight: 700;
    text-decoration: underline;
}
.a-hash {
    font-size: 0.8em;
    color: gray;
    text-decoration: none;
}
.a-hash:hover {
    font-weight: 700;
    text-decoration: underline;
}

.a-greyed {
    color: #bfbfbf;
}
.dark .a-greyed {
    color: #4d4d4d;
}
.a-darkgreyed {
    color: #a6a6a6;
}

.a-options {
    padding: 0 0 0.5em 0;
}
.a-options > div {
    display: inline-block;
    margin-left: 1em;
    font-size: 0.7em;
    cursor: pointer;
}
.a-options > div, .a-options > div > a {
    color: #bfbfbf;
    text-decoration: underline;
}
.dark .a-options > div, .dark .a-options > div > a {
    color: #4d4d4d;
}
.a-options > div:hover, .a-options > div > a:hover {
    color: gray;
}

.a-receive {
    color: green;
}
.dark .a-receive {
    color: #006600;
}
.a-send {
    color: red;
}
.dark .a-send {
    color: #c32222;
}

.a-tick {
    width: 0.3em;
    height: 0.6em;
    border: solid #003333;

    border-width: 0 0.2em 0.2em 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.dark .a-tick {
    border-color: gray;
}

/* Supplements the search-button class */
.a-loadmore-btn {
    font-size: 1em !important;
}


.a-copy {
    font-size: 0.8em;
}
.a-copy .menu-search-paste-desc {
    left: -0.5em;
    top: 2em;
}
.a-copy:hover .menu-search-paste-desc {
    opacity: 1;
}

/* block -------------------------------------------------------------------- */

.b-action-tbl {
    max-width: 90%;
    font-size: 1.3em;
    margin: 1em auto 0 auto;

    display: flex;
    flex-direction: column;
}
.b-action-tbl .row {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.b-action-tbl .row > div {
    padding: 0.3em 0.6em;
    vertical-align: top;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.b-action-tbl .row > div:first-child {
    flex-basis: 4em;
    flex-grow: 0;
    flex-shrink: 0;
}
.b-action-tbl .row > div:last-child {
    overflow: hidden;
}

.b-tbl {
    margin-top: 1em;
    width: 100%;
    position: relative;
}
.b-tbl-row {
    width: 100%;
}
.b-tbl-row > div {
    padding: 0.5em 0;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;
}
.b-tbl-row > div:first-child {
    width: 30%;
}
.b-tbl-row > div:last-child {
    width: 69%;
    text-align: right;
}

@media only screen and (max-width: 64em) {
    
    .b-tbl-row > div {
        width: 100% !important;
        padding-bottom: 0em;
    }
    .b-tbl-row > div:last-child {
        padding-bottom: 1em;
    }
}

.b-tbl-description {
    font-size: 0.8em;
    color: #b2b2b2;
}
.dark .b-tbl-description {
    color: #4d4d4d;
}
.b-subtitle {
    color: #b2b2b2
}

/* Footer class -------------------------------------------------------------- */
.f-wrap {
    width: 100%;
    background-color: white;
    padding: 3em 0 2em 0;
}
.dark .f-wrap {
    background-color: #091010;
    color: #325b5b;
}
.f-wrap-inner {
    /* Same as a-wrap */
    margin: 0 auto;
    width: 90%;
    max-width: 80em;
    overflow: hidden;
}

/* scrollbar */

.dark-scrollbar::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
.dark-scrollbar::-webkit-scrollbar-corner, .dark-scrollbar::-webkit-scrollbar-track {
    background: #f2f2f2; 
}
.dark-scrollbar::-webkit-scrollbar-thumb {
    background: #aaaaaa; 
}
.dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #333333; 
}

.dark .dark-scrollbar::-webkit-scrollbar-corner, 
.dark .dark-scrollbar::-webkit-scrollbar-track {
    background: #091010;
}
.dark .dark-scrollbar::-webkit-scrollbar-thumb {
    background: #666666; 
}
.dark .dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #aaaaaa; 
}

.dark-scrollbar {

    /* moz */
    scrollbar-color: #aaaaaa #f2f2f2;
    scrollbar-width: thin;
    
    /* IE */
    scrollbar-base-color: #f2f2f2;
    scrollbar-track-color: #f2f2f2;
    scrollbar-face-color: #aaaaaa;
    scrollbar-shadow-color: #f2f2f2;
    scrollbar-arrow-color: #aaaaaa;
}
.dark .dark-scrollbar {

    /* moz */
    scrollbar-color: #666666 #091010;
    scrollbar-width: thin;
    
    /* IE */
    scrollbar-base-color: #091010;
    scrollbar-track-color: #091010;
    scrollbar-face-color: #666666;
    scrollbar-shadow-color: #091010;
    scrollbar-arrow-color: #666666;
}