<div class="editor simplefont dark-scrollbar">

    <div class="editor-gutter">
        <!-- The start line -->
        <div></div>
        <div class="editor-gutter-lines">{{ lineNumbers }}</div>
    </div>
    <div class="editor-content">
        <b><div ng-if="editable">POST <span class="address">https://nanoverse.io/api/node</span></div></b>
        <b><div ng-if="!editable && console.out.statusCode"><span class="address">Http Status Code:</span> {{ console.out.statusCode }}</div></b>

        <div ng-if="editable" class="editor-line-wrap" contenteditable="true" ng-model="console.in.json"></div>
        <div ng-if="!editable" class="editor-line-wrap" contenteditable="false" ng-model="console.out.json"></div>
    </div>
    <div class="editor-scroll"></div>

    <div class="editor-control-panel">

        <button ng-if="editable" type="submit" class="send-response-btn" ng-click="postJson()">
            <img src="/resources/arrow.png">
            <div>RUN</div>
        </button>
        
        <button class="send-response-btn send-response-btn-dark" ng-click="copyToClipboard()">
            <img src="/resources/paste_icon_white.png">
            <div>COPY</div>
        </button>

        <button class="send-response-btn send-response-btn-dark" ng-click="clear()">
            <img src="/resources/cancel.png">
            <div>CLEAR</div>
        </button>
    </div>
</div>

<div ng-if="!editable && console.out.loading" class="console-loading">
    <nn-bar-preloader color="'lightgray'"></nn-bar-preloader>
</div>
