<!DOCTYPE html>
<html ng-app="apiApp" ng-controller="apiController">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Nano node API</title>
    <link rel="stylesheet" href="/api/styles.css">
    <link rel="shortcut icon" href="/resources/favicon.ico" />
    <base href="/api/">
</head>

<body ng-class="{ 'mob': ui.isMobileDisplay, 'tablet' : ui.isTabletDisplay }">
    
    <!-- Loader at the back -->
    <div class="content-load">
        <div class="loader-wrap">
            >> LOADING CONSOLE ...
        </div>
    </div>

    <div class="hide head" ng-class="{'unhide': ui.landingLoaded }">
        <a href="/">
            <img class="logo" src="../../resources/logo-white.png">
        </a>
        <div class="title">
            <span>NANO<span class="title1">VERSE</span> API</span>
        </div>

        <div ng-if="!ui.isMobileDisplay || ui.showMobMenu" class="menu">
            <a href="/"><div>MAP <sup></sup></div></a>
            <div>API <span class="menu-label">beta</span></div>
            <div>3D MAP <span class="menu-label">soon</span></div>
            <div>DATA TRANSFER <span class="menu-label">soon</span></div>
        </div>
        <div ng-if="ui.isMobileDisplay" class="menu-mob">
            <img ng-click="ui.showMobMenu = !ui.showMobMenu" src="/resources/menu-white.png">
        </div>
    </div>

    <div class="hide content-wrap" ng-class="{'unhide': ui.landingLoaded }">
        <div class="left-panel">
            <div class="nav-panel dark-scrollbar">

                <input class="nav-panel-search" placeholder="Search" ng-model="ui.query">

                <div ng-repeat="e in endpoints" ng-if="e.s">
                    <a class="no-decor" ng-click="scrollTo(e.e)">
                        <div class="nav-panel-item simplefont" ng-class="{ 'nav-panel-item-active': isAnchorActive(e.e) }">
                            {{ e.e }}
                        </div>
                    </a>
                </div>
                <div class="scroll-corner-cover"></div>
            </div>
            <div class="content" id="content">
                <div id="top"></div>

                <h1>NANO Node API</h1>
                <p>
                    This API is a free tool for developers to interact with a NANO node remotely, without having to first install and run a full node.
                </p>
                <p>
                    This API accepts commands that are identical to that of the NANO <a class="link" href="https://docs.nano.org/commands/rpc-protocol/">RPC protocol</a>. 
                    As such it is compatible with any protocol-compliant RPC client.
                </p>
                <p>
                    We have provided the following documentation below for your convenience. Please note that as NANO is undergoing constant development, 
                    the contents may become deprecated over time despite our best efforts. For the most up-to-date information, please visit the 
                    <a class="link" href="https://docs.nano.org/commands/rpc-protocol/">official documentation page</a>.
                </p>
                <p>
                    Only the <a class="link" href="https://docs.nano.org/commands/rpc-protocol/#node-rpcs">Node RPC</a> methods are available at the moment. We will be adding 
                    wallet RPC methods in the near future.
                </p>

                <h1 style="margin-top:3em">API Documentation</h1>
                <h2>General information</h2>
                <table>
                    <tbody>
                        <tr>
                            <td>Endpoint</td>
                            <td class="general-endpoint">
                                <div><span class="hfont">https://nanoverse.io/api/node</span></div>
                                <img ng-if="!ui.endpointCopied" 
                                    ng-click="ui.endpointCopied = true; copyToClipboard('https://nanoverse.io/api/node')" 
                                    src="/resources/paste_icon.png">
                                <img ng-if="ui.endpointCopied" src="/resources/paste_icon_dark.png">
                            </td>
                        </tr>
                        <tr><td>Methods supported</td><td><span class="hfont">POST</span> only</td></tr>
                        <tr>
                            <td>Accepts</td>
                            <td>Parameters must be sent in the request body, in JSON.</td>
                        </tr>
                        <tr><td>Return type</td><td>JSON</td></tr>
                        <tr><td>Rate limits</td><td><b>None</b> - this may change in the future.</td></tr>
                        <tr><td>Authentication</td><td><b>None required</b> - this may change in the future.</td></tr>
                        <tr><td>Status codes</td>
                            <td>
                                HTTP status codes are generated by the API layer and are not part of the node response. 
                                <ul>
                                    <li><span class="hfont">200</span> - <b>successful response</b>.</li>
                                    <li><span class="hfont">4XX</span> - <b>client-side error</b>: the client request is either malformed or is targetting an unsupported 
                                        method. A JSON payload will be returned containing an <span class="hfont">"error"</span> parameter with more information.</li>
                                    <li><span class="hfont">5XX</span> - <b>server-side error</b>: the client request was correctly formatted and successfully received,
                                        but a server-side error was encountered. JSON payload will be returned containing an 
                                        <span class="hfont">"error"</span> parameter containing more information.</li>
                                </ul>
                            </td>
                        </tr>
                    </tbody>
                </table>

                <div class="methods-heading">
                    <div><h1>API Methods</h1></div>
                    <div class="methods-heading-options">
                        <div ng-click="toggleContent(true)">COLLAPSE ALL</div>
                        <div ng-click="toggleContent(false)">EXPAND ALL</div>
                    </div>
                </div>
                <!--endpoints-view-->
                
                <div id="bottom"></div>
            </div>
        </div>
        <div ng-if="ui.isMobileDisplay" class="mob-nav-panel">
            <div ng-class="{'selected': ui.mobTab == 'request' }" ng-click="ui.mobTab = 'request'">Request</div>
            <div ng-class="{'selected': ui.mobTab != 'request' }" ng-click="ui.mobTab = 'response'">Response</div>
        </div>
        <div class="right-panel">
            <div ng-if="!ui.isMobileDisplay || ui.mobTab == 'request'" 
                class="console console-input" 
                ng-class="{'console-min': ui.inConsole == 'min', 'console-max': ui.inConsole == 'max'}">

                <div class="console-header">
                    <div class="console-header-tab" 
                        ng-class="{'console-header-tab-select': ui.inTab == 'json'}"
                        ng-click="ui.inTab = 'json'">Request JSON</div>
                    
                    <!--
                    <div class="console-header-tab"
                        ng-class="{'console-header-tab-select': ui.inTab == 'fields'}"
                        ng-click="ui.inTab = 'fields'">Request Fields</div>-->

                    <!--
                    <div class="console-header-control">
                        <div>-</div>
                        <div>+</div>
                        <div ng-click="ui.inConsole = 'min'; ui.outConsole = 'max'"><img src="/resources/minimise.png"></div>
                        <div ng-click="ui.inConsole = 'max'; ui.outConsole = 'min'"><img src="/resources/maximise.png"></div>
                    </div>-->
                </div>
                <div class="console-content">
                    <nn-editor ng-if="ui.inTab == 'json'" ui="ui" console="console" editable="true"></nn-editor>

                    <!--
                    <div ng-if="ui.inTab == 'fields'" class="console-fields">
                        <table>
                            <thead>
                                <tr><td>Parameter</td><td>Value</td></tr>
                            </thead>
                            <tbody>
                                <tr><td>Endpoint</td><td>https://nanoverse.io/api/{{}}</td></tr>
                            </tbody>
                        </table>
                    </div>-->
                </div>
            </div>
            <div ng-if="!ui.isMobileDisplay || ui.mobTab == 'response'"
                class="console console-output" 
                ng-class="{'console-min': ui.outConsole == 'min', 'console-max': ui.outConsole == 'max'}">

                <div class="console-header">
                    <div class="console-header-tab"
                        ng-class="{'console-header-tab-select': ui.outTab == 'json'}"
                        ng-click="ui.outTab = 'json'">Response JSON</div>
                    
                    <!--
                    <div class="console-header-tab"
                        ng-class="{'console-header-tab-select': ui.outTab == 'code'}"
                        ng-click="ui.outTab = 'code'">Code Samples</div>-->
                </div>
                <div class="console-content">
                    <nn-editor ui="ui" console="console" editable="false"></nn-editor>
                </div>
            </div>
        </div>
    </div>
    

    <script src="/api/polyfill.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/api/apiApp.js"></script>
    <script src="/api/directive-editor.js"></script>
    <script src="/api/directive-contenteditable.js"></script>
    <script src="/api/directive-paste.js"></script>
    <script src="/api/directive-bar-preloader.js"></script>
</body>
</html>