<div id="{{id}}"></div>

<div class="heading" ng-click="ui.hide.{{id}} = !ui.hide.{{id}}">
    <div class="method-title">
        <img src="/resources/arrow.png">
        <div>{{id}}</div>
    </div>
    <div class="panel">
        <img src="/resources/arrow.png" ng-click="scrollTo('top')">
        <img src="/resources/arrow.png" ng-click="scrollTo('bottom')">
    </div>
</div>

<div ng-if="!ui.hide.{{id}}">

<!--[content]-->

<div class="spacer"></div>
</div>