<div class="a-load" ng-if="!ad">
    <nn-bar-preloader color="ui.loadingBarColor"></nn-bar-preloader>
</div>
<div class="a-wrap" ng-if="ad && ad.error">
    <h1>Unknown account</h1>
    <h2 style="margin: 0 0 0.3em 0" class="hfont">{{accountId}}</h3>

    <p class="small">
        Unfortunately, we cannot find this account. Please check that it has been correctly entered.
    </p>
    <p class="small">
        NANO accounts must begin with either
        <span class="hfont"><strong>nano_</strong></span> or <span class="hfont"><strong>xrb_</strong></span>.
        <br/>
        In addition, all accounts have a 8-character checksum at the end. 
    </p>

    <div class="fullwidth center-txt">
        <a ng-href="/">
            <button class="search-button a-loadmore-btn">Back to map</button>
        </a>
    </div>
</div>
<div class="a-wrap" ng-if="ad && !ad.error" style="margin-bottom:10em">
    <div ng-if="ad.transactions">
        <div ng-if="!ad.accountAlias">
            <h1 ng-if="ad.transactions.length > 0">Anonymous account</h1>
            <h1 ng-if="ad.transactions.length == 0">Unopened account</h1>
        </div>
        <div ng-if="ad.accountAlias">
            <h1>{{ ad.accountAlias }}</h1>
        </div>
    </div>
    
    <div class="a-account">
        <div>
            <a class="a-account-link" ng-href="/map/{{ accountId }}">
                <h2 style="margin: 0 0 0.3em 0" class="hfont">{{ accountId }}</h2>
            </a>
        </div>
        <div class="a-account-copy" ng-click="copyUsingNav(accountId); account.addressCopied = true" style="margin-top:0.3em">
            <nn-sprite ng-if="!account.addressCopied" ui="ui" name="'paste'"></nn-sprite>
            <nn-sprite ng-if="account.addressCopied" ui="ui" name="'paste_light'"></nn-sprite>

            <div class="menu-search-paste-desc">
                {{ account.addressCopied ? 'Copied!' : 'Copy to clipboard' }}
                <!-- The arrow -->
                <div></div>
            </div>
        </div>
    </div>
    <div class="a-account" ng-if="ad.rep">
        <div ng-if="ad.rep">
            Represented by: <strong ng-if="ad.repAlias">{{ ad.repAlias }} - </strong><a ng-href="/account/{{ad.rep}}" class="a-acc hfont">{{ ad.rep }}</a>
        </div>
        <div class="a-account-copy" ng-click="copyUsingNav(ad.rep);account.repCopied=true">
            <nn-sprite ng-if="!account.repCopied" ui="ui" name="'paste'"></nn-sprite>
            <nn-sprite ng-if="account.repCopied" ui="ui" name="'paste_light'"></nn-sprite>
            
            <div class="menu-search-paste-desc">
                {{ account.repCopied ? 'Copied!' : 'Copy to clipboard' }}
                <!-- The arrow -->
                <div></div>
            </div>
        </div>
    </div>
    
    <table class="a-bal-tbl" style="margin-bottom:2em">
        <tbody>
            <tr>
                <td>Balance</td>
                <td class="txt-right">
                    <h3 class="no-pad">
                        <strong>{{ ad.balanceInt }}<span class="a-greyed">{{ ad.balanceDecimal }}</span></strong> NANO
                    </h3>
                </td>
            </tr>
            <tr>
                <td>Unpocketed Balance</td>
                <td class="txt-right">
                    <h3 class="no-pad">
                        <strong>{{ ad.pendingInt }}<span class="a-greyed">{{ ad.pendingDecimal }}</span></strong> NANO
                    </h3>
                </td>
            </tr>
            <tr ng-if="ad.wt">
                <td>Voting Weight</td>
                <td class="txt-right">
                    <h3 class="no-pad">
                        <strong>{{ ad.wtInt }}<span class="a-greyed">{{ ad.wtDecimal }}</span></strong> NANO
                    </h3>
                </td>
            </tr>
        </tbody>
    </table>

    <div class="a-tx-tbl-wrap" ng-if="ad.pt && ad.pt.length > 0">
        <div class="a-tx-header">
            <div>
                <h3>Last few unpocketed transactions</h3>
            </div>
            <div class="a-tx-header-showhide" ng-click="ad.pendingTxHidden = !ad.pendingTxHidden">
                {{ ad.pendingTxHidden ? 'Expand' : 'Collapse' }}
            </div>
            <div>
            </div>
        </div>
        <table class="a-tx-tbl" ng-if="!ad.pendingTxHidden" style="margin-bottom:2em">
            <thead>
                <tr><td>Details</td><td class="center-txt">Type</td><td class="txt-right">Amount</td><td class="txt-right">Date</td></tr>
            </thead>
            <tbody>
                <tr ng-repeat="tx in ad.pt">
                    <td>
                        <nn-copyable-field ng-if="tx.y != 'Change' && tx.a" ui="ui" alias="tx.alias" type="'account'" field="tx.a"></nn-copyable-field>
                        <nn-copyable-field ng-if="tx.y == 'Change' && tx.r" ui="ui" alias="tx.repAlias" type="'account'" field="tx.r"></nn-copyable-field>
                        <nn-copyable-field ui="ui" type="'block'" field="tx.h"></nn-copyable-field>
                    </td>
                    <td class="a-receive center-txt" ng-class="{'a-send': tx.y == 'Send'}">{{ tx.y }}</td>
                    <td class="txt-right">
                        <div ng-if="tx.y != 'Change'">
                            <strong>{{ (tx.y == 'Send' ? '- ' : '+ ') + tx.amountInt }}<span class="a-greyed">{{ tx.amountDecimal }}</span></strong><span class="a-greyed"> NANO</span>
                        </div>
                        <div ng-if="tx.y == 'Change'" class="a-greyed">N/A</div>
                    </td>
                    <td class="txt-right">
                        <div ng-if="tx.t == 0" class="a-greyed">Unknown timestamp</div>
                        <div ng-if="tx.t != 0">{{formatDate(tx.t * 1000)}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="a-tx-tbl-wrap" ng-if="ad.transactions && ad.transactions.length > 0">
        <div class="a-tx-header">
            <div>
                <h3>Last few completed transactions</h3>
            </div>
            <div class="a-tx-header-showhide" ng-click="ad.txHidden = !ad.txHidden">
                    {{ ad.txHidden ? 'Expand' : 'Collapse' }}
            </div>
            <div>
                <h3 ng-if="!ad.txHidden">Showing 1 - {{ ad.transactions.length }} of {{ ad.blockCount }}</h3>
            </div>
        </div>
        
        <table class="a-tx-tbl" ng-if="!ad.txHidden">
            <thead>
                <tr><td>Details</td><td class="center-txt">Type</td><td class="txt-right">Amount</td><td class="txt-right">Date</td></tr>
            </thead>
            <tbody>
                <tr ng-repeat="tx in ad.transactions">
                    <td>
                        <nn-copyable-field ng-if="(tx.y != 'Change') && tx.a" ui="ui" alias="tx.alias" type="'account'" field="tx.a"></nn-copyable-field>
                        <nn-copyable-field ng-if="tx.y == 'Change' && tx.r" ui="ui" alias="tx.repAlias" type="'account'" field="tx.r"></nn-copyable-field>
                        <nn-copyable-field ui="ui" type="'block'" field="tx.h"></nn-copyable-field>
                    </td>
                    <td class="a-receive center-txt" ng-class="{'a-send': tx.y == 'Send'}">{{ tx.y }}</td>
                    <td class="txt-right">
                        <div ng-if="tx.y != 'Change'">
                            <strong>{{ (tx.y == 'Send' ? '- ' : '+ ') + tx.amountInt }}<span class="a-greyed">{{tx.amountDecimal}}</span></strong>
                            <span class="a-greyed"> NANO</span>
                        </div>
                        <div ng-if="tx.y == 'Change'" class="a-greyed">N/A</div>
                    </td>
                    <td class="txt-right">
                        <div ng-if="tx.t == 0" class="a-greyed">Unknown timestamp</div>
                        <div ng-if="tx.t != 0">{{formatDate(tx.t * 1000)}}</div>
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="a-tx-tbl" ng-if="ad.next && !ad.txHidden">
            <tbody>
                <tr>
                    <td style="text-align: center">
                        <button class="search-button a-loadmore-btn" ng-click="loadMoreTransactions(ad.account, ad.next)">Load more</button>
                        <p ng-if="ad.loadMoreTxError">Unable to fetch more history.</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div ng-if="ad.transactions && ad.transactions.length == 0">
        <h3>This account has published no transactions</h3>
    </div>
</div>

<nn-foot ng-if="ad && !ad.error"></nn-foot>
