<div class="a-load" ng-if="!blockResponseReceived">
    <nn-bar-preloader color="ui.loadingBarColor"></nn-bar-preloader>
</div>
<div class="a-wrap" ng-if="blockResponseReceived && !blockDetails">
    <h1>Unknown block</h1>
    <h2 class="long-txt">{{ searchBlock }}</h2>

    <p class="small">This block has not yet been received by our node. Please wait a little bit and refresh the page.</p>
    <div class="fullwidth center-txt">
        <a ng-href="/">
            <button class="search-button a-loadmore-btn">Back to map</button>
        </a>
    </div>
</div>

<div class="a-wrap" ng-if="blockResponseReceived && blockDetails" style="margin-bottom:10em">

    <h1 ng-if="blockDetails.type" style="margin-bottom: 0">{{ blockDetails.type }} block</h1>
    <div ng-if="blockDetails.subtype" class="b-subtitle">Subtype: {{ blockDetails.subtype }}</div>
    <div class="a-account">
        <div>
            <a class="a-account-link" ng-href="/map/{{ blockDetails.hash }}">
                <h2 class="hfont">{{ blockDetails.hash }}</h2>
            </a>
        </div>
        <div class="a-account-copy" ng-click="copyUsingNav(blockDetails.hash); blockDetails.hashCopied=true" style="margin-top:1.4em">
            <nn-sprite ng-if="!blockDetails.hashCopied" ui="ui" name="'paste'"></nn-sprite>
            <nn-sprite ng-if="blockDetails.hashCopied" ui="ui" name="'paste_light'"></nn-sprite>
            
            <div class="menu-search-paste-desc">
                {{ blockDetails.hashCopied ? 'Copied!' : 'Copy to clipboard' }}
                <!-- The arrow -->
                <div></div>
            </div>
        </div>
    </div>

    <div ng-if="blockDetails.action">
        <div ng-if="blockDetails.action == 'Epoch'">This is an epoch block</div>
        <div ng-if="blockDetails.action != 'Epoch'">The purpose of this block is to </div>
    </div>

    <div class="b-action-tbl" ng-if="blockDetails.action && blockDetails.action != 'Epoch'">
        <div class="row">
            <div class="txt-right">
                <strong ng-if="blockDetails.action != 'Open'">{{ blockDetails.action }}</strong>
                <strong ng-if="blockDetails.action == 'Open'">Open the account</strong>
            </div>
            <div>
            <div ng-if="blockDetails.action == 'Send' || blockDetails.action == 'Receive'">
                <strong>{{ blockDetails.amountInt }}<span class="a-greyed">{{ blockDetails.amountDecimal }}</span></strong> NANO
                </div>
                <div ng-if="blockDetails.action == 'Change'">
                    this account's representative
                </div>
                <nn-copyable-field ng-if="blockDetails.action == 'Open'" ui="ui" alias="blockDetails.recipientAlias" type="'account'" field="blockDetails.recipient"></nn-copyable-field>
            </div>
        </div>
        <div class="row">
            <div class="txt-right">
                <strong ng-if="blockDetails.action != 'Open'">From</strong>
                <strong ng-if="blockDetails.action == 'Open'">With</strong>
            </div>
            <div>
                <nn-copyable-field ng-if="blockDetails.action == 'Send' || blockDetails.action == 'Receive'" ui="ui" alias="blockDetails.senderAlias" type="'account'" field="blockDetails.sender"></nn-copyable-field>
                <nn-copyable-field ng-if="blockDetails.action == 'Change'" ui="ui" alias="blockDetails.prevRepAlias" type="'account'" field="blockDetails.previousRep"></nn-copyable-field>
                <div ng-if="blockDetails.action == 'Open'">
                    <strong>{{ blockDetails.amountInt }}<span class="a-greyed">{{ blockDetails.amountDecimal }}</span></strong> NANO
                </div>
            </div>
        </div>
        <div class="row">
            <div class="txt-right">
                <strong ng-if="blockDetails.action != 'Open'">To</strong>
                <strong ng-if="blockDetails.action == 'Open'">Using funds received from</strong>
            </div>
            <div>
                <nn-copyable-field ng-if="blockDetails.action == 'Send' || blockDetails.action == 'Receive'" ui="ui" alias="blockDetails.recipientAlias" type="'account'" field="blockDetails.recipient"></nn-copyable-field>                           
                <nn-copyable-field ng-if="blockDetails.action == 'Change'" ui="ui" alias="blockDetails.repAlias" type="'account'" field="blockDetails.rep"></nn-copyable-field>
                <nn-copyable-field ng-if="blockDetails.action == 'Open'" ui="ui" alias="blockDetails.senderAlias" type="'account'" field="blockDetails.sender"></nn-copyable-field>
            </div>
        </div>
    </div>

    <div class="b-tbl">
        <div class="b-tbl-row" ng-if="blockDetails.account">
            <div>
                <strong>Account</strong>
                <div class="b-tbl-description">The account that published this block</div>
            </div>
            <div>
                <div><strong ng-if="blockDetails.accountAlias">{{ blockDetails.accountAlias }}</strong></div>
                <a class="a-acc hfont" ng-href="/account/{{blockDetails.account}}">{{ blockDetails.account }}</a>
                <div class="a-options hfont">
                    <div ng-if="blockDetails.accountCopied" class="a-tick"></div>
                    <div ng-click="copyUsingNav(blockDetails.account); blockDetails.accountCopied = true;">COPY</div>
                    <div><a ng-href="/account/{{blockDetails.account}}">VIEW IN EXPLORER</a></div>
                    <div><a ng-href="/map/{{blockDetails.account}}">VIEW IN MAP</a></div>
                </div>
            </div>
        </div>
        <div class="b-tbl-row">
            <div>
                <strong>Timestamp</strong>
                <div class="b-tbl-description">The local timestamp when this block was received by our node</div>
            </div>
            <div>{{ blockDetails.timestamp }}</div>
        </div>
        <div class="b-tbl-row" ng-if="blockDetails.balance">
            <div>
                <strong>Balance</strong>
                <div class="b-tbl-description">The balance of the account, after this block</div>
            </div>
            <div><strong>{{ blockDetails.balanceInt }}<span class="a-greyed">{{ blockDetails.balanceDecimal }}</span></strong> NANO</div>
        </div>
        <div class="b-tbl-row" ng-if="blockDetails.height">
            <div>
                <strong>Block height</strong>
                <div class="b-tbl-description">The height of this block in this account's blockchain</div>
            </div>
            <div>{{ blockDetails.height }}</div>
        </div>
        <div class="b-tbl-row" ng-if="blockDetails.rep">
            <div>
                <strong>Representative</strong>
                <div class="b-tbl-description">The block's account's representative, after this block</div>
            </div>
            <div>
                <div><strong ng-if="blockDetails.repAlias">{{ blockDetails.repAlias }}</strong></div>
                <a class="a-acc hfont" ng-href="/account/{{blockDetails.rep}}">{{ blockDetails.rep }}</a>
                <div class="a-options hfont">
                    <div ng-if="blockDetails.repCopied" class="a-tick"></div>
                    <div ng-click="copyUsingNav(blockDetails.rep); blockDetails.repCopied = true;">COPY</div>
                    <div><a ng-href="/account/{{blockDetails.rep}}">VIEW IN EXPLORER</a></div>
                    <div><a ng-href="/map/{{blockDetails.rep}}">VIEW IN MAP</a></div>
                </div>
            </div>
        </div>
        <div class="b-tbl-row" ng-if="blockDetails.prev">
            <div>
                <strong>Previous block</strong>
                <div class="b-tbl-description">The hash of the preceding block in this account's blockchain</div>
            </div>
            <div class="hfont">
                <a class="a-acc" ng-href="/block/{{blockDetails.prev}}">{{ blockDetails.prev }}</a>
                <div class="a-options">
                    <div ng-if="blockDetails.prevHashCopied" class="a-tick"></div>
                    <div ng-click="copyUsingNav(blockDetails.prev); blockDetails.prevHashCopied = true;">COPY</div>
                    <div><a ng-href="/block/{{blockDetails.prev}}">VIEW IN EXPLORER</a></div>
                    <div><a ng-href="/map/{{blockDetails.prev}}">VIEW IN MAP</a></div>
                </div>
            </div>
        </div>
        <div class="b-tbl-row" ng-if="blockDetails.sig">
            <div>
                <strong>Signature</strong>
                <div class="b-tbl-description">The ED25519/Blake2b 512-bit signature published by this block</div>
            </div>
            <div class="hfont">
                <div class="long-txt">{{ blockDetails.sig1 }}</div>
                <div class="long-txt">{{ blockDetails.sig2 }}</div>
            </div>
        </div>
        <div class="b-tbl-row" ng-if="blockDetails.work">
            <div>
                <strong>Work</strong>
                <div class="b-tbl-description">The Proof-of-Work nonce for this block</div>
            </div>
            <div class="hfont">{{ blockDetails.work }}</div>
        </div>
    </div>
</div>
<nn-foot ng-if="blockResponseReceived && blockDetails"></nn-foot>
