    <div>
        <strong ng-if="alias">{{ alias }}</strong>
        <div class="a-account-layout">
            <div>
                <a ng-href="{{ explorerLink }}" class="a-acc hfont" ng-class="{'a-hash': type == 'block'}">{{ field }}</a>
            </div>
            <div class="a-copy relative" ng-click="copy(field)">
                <nn-sprite ng-if="!copied" ui="ui" name="'paste'"></nn-sprite>
                <nn-sprite ng-if="copied" ui="ui" name="'paste_light'"></nn-sprite>

                <div class="menu-search-paste-desc">
                    {{ copied ? 'Copied!' : 'Copy to clipboard' }}
                    <!-- The arrow -->
                    <div></div>
                </div>
            </div>
        </div>
        <div class="a-options hfont">
            <div><a ng-href="{{ mapLink }}">VIEW IN MAP</a></div>
            <div><a ng-href="{{ explorerLink }}">VIEW IN EXPLORER</a></div>
        </div>
    </div>