<div class="f-wrap">
    <div class="f-wrap-inner">
        <div class="small">
            <strong>
                <a ng-href="/" class="link">HOME</a> | 
                <a ng-href="/" class="link">3D MAP</a> (coming soon) | 
                <a ng-href="/" class="link">NODE API</a> (coming soon)
            </strong>
            
            <p>
                Created and maintained by @<a href="https://www.reddit.com/user/fzcomeau" class="link">fzcomeau</a>
                <br/>
                Donations: <strong>{{ static.donate }}</strong>
            </p>
        </div>
    </div>
</div>