<div class="graph-wrap">

    <div class="graph-action">Click on a node to extend the map</div>

    <img id="map_symbol" src="/resources/sprite.png" style="display:none">

    <canvas id="chart-graph"></canvas>

    <div ng-if="ui.loading" class="graph-loading">
        <nn-bar-preloader color="ui.loadingBarColor"></nn-bar-preloader>
    </div>

    <div class="graph-overlay" ng-style="{cursor: cursor}" ng-click="onClick()">

        <!-- tx always under the nodes -->
        <div class="graph-tx" ng-if="!isAnimating" ng-repeat="tx in txs" ng-style="{top: tx.y, left: tx.x}">

            <div ng-if="tx.showDetail" class="graph-account-detail" style="display: inline-block">
                <div class="graph-account-detail-arrow">
                    <div></div>
                </div>

                <table class="graph-tx-detail-tbl" ng-mousedown="$event.stopPropagation()" ng-mousemove="$event.stopPropagation()">
                    <tbody>
                        <tr>
                            <td>
                                <strong>Amount:</strong>
                            </td>
                            <td style="text-align: right">
                                <p><strong>{{ tx.aInt }}<span class="a-greyed">{{ tx.aDecimal }}</span></strong> NANO</p>
                            </td>
                        </tr>
                        <!-- Hard code for when the website was init -->
                        <tr ng-if="tx.details.d >= ui.cutoffDate">
                            <td class="graph-tx-detail-tbl-label">Date:</td>
                            <td class="graph-tx-detail-tbl-text">{{ formatDate(tx.details.d * 1000) }}</td>
                        </tr>
                        <tr ng-if="tx.details.from">
                            <td class="graph-tx-detail-tbl-label">Sender</td>
                            <td class="graph-tx-detail-tbl-text clickable">
                                <a ng-href="/account/{{io.lengthenAddress(tx.details.from)}}">
                                    {{ ui.isMobileDisplay ? abbreviateAddress(tx.details.from) : io.lengthenAddress(tx.details.from) }}
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="tx.details.sendBlock">
                            <td class="graph-tx-detail-tbl-label">Send block</td>
                            <td class="graph-tx-detail-tbl-text clickable">
                                <a ng-href="/block/{{tx.details.sendBlock}}">
                                    {{ ui.isMobileDisplay ? abbreviateHash(tx.details.sendBlock) : tx.details.sendBlock }}
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="tx.details.sendBlockType">
                            <td class="graph-tx-detail-tbl-label">Block type</td>
                            <td class="graph-tx-detail-tbl-text">{{ tx.details.sendBlockType }}</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="graph-tx-detail-tbl-arrow"><div></div></div>
                            </td>
                        </tr>
                        <tr ng-if="tx.details.receiveBlockType">
                            <td class="graph-tx-detail-tbl-label">Block type</td>
                            <td class="graph-tx-detail-tbl-text">{{ tx.details.receiveBlockType }}</td>
                        </tr>
                        <tr ng-if="tx.details.receiveBlock">
                            <td class="graph-tx-detail-tbl-label"><strong>Receive block</strong></td>
                            <td class="graph-tx-detail-tbl-text clickable">
                                <a ng-href="/block/{{tx.details.receiveBlock}}">
                                    {{ ui.isMobileDisplay ? abbreviateHash(tx.details.receiveBlock) : tx.details.receiveBlock }}
                                </a>
                            </td>
                        </tr>
                        <tr ng-if="tx.details.to">
                            <td class="graph-tx-detail-tbl-label">Recipient</td>
                            <td class="graph-tx-detail-tbl-text clickable">
                                <a ng-href="/account/{{io.lengthenAddress(tx.details.to)}}">
                                    {{ ui.isMobileDisplay ? abbreviateAddress(tx.details.to) : io.lengthenAddress(tx.details.to) }}
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        
        <!-- Nodes here -->
        <div class="graph-account" 
            ng-if="node.display && !isAnimating"
            ng-repeat="node in nodes" 
            ng-style="{top:node.y, left: node.x}" ng-mousedown="beginGoToVector(node);$event.stopPropagation();"
            ng-mouseup="endGoToVector(node)" ng-mouseenter="node.hideAlias = true; getAccountDetails(node);"
            ng-mouseleave="node.hideAlias = false; cancelGetAccountDetails(node)">

            <div class="graph-account-detail no-display" 
                ng-mousemove="$event.stopPropagation()" 
                ng-mousedown="$event.stopPropagation()"
                ng-click="$event.stopPropagation()">

                <div class="graph-account-detail-arrow">
                    <div></div>
                </div>

                <div class="graph-account-address">
                    <h1 ng-if="aliases[node.account]">{{ aliases[node.account] }}</h1>
                    <div ng-if="!aliases[node.account]">
                        <h1 ng-if="node.txs.length > 0">Anonymous account</h1>
                        <h1 ng-if="node.txs.length == 0">Unopened account</h1>
                    </div>
                    <a class="clickable hfont" ng-href="/account/{{io.lengthenAddress(node.account)}}">
                        <p><strong>{{ ui.isMobileDisplay ? abbreviateAddress(node.account) : io.lengthenAddress(node.account) }}</strong></p>
                    </a>
                </div>

                <div ng-if="node.mouseover && !node.loaded" style="width:3em; margin: 0 auto">
                    <nn-bar-preloader color="ui.loadingBarColor"></nn-bar-preloader>
                </div>
                <div ng-if="node.loaded && !node.hasError">
                    <table style="width:100%">
                        <tbody>
                            <tr>
                                <td class="small" style="vertical-align: top">Account balance:</td>
                                <td style="text-align: right; padding-left: 1em">
                                    <strong>{{ node.balanceInt }}<span class="a-greyed">{{ node.balanceDecimal }}</span></strong> NANO
                                </td>
                            </tr>
                            <tr>
                                <td class="small" style="vertical-align: top">
                                    {{ ui.isMobileDisplay ? 'Unpocketed balance' : 'Unpocketed (pending) balance' }}
                                </td>
                                <td style="text-align: right; padding-left: 1em">
                                    <strong>{{ node.pendingBalanceInt }}<span class="a-greyed">{{ node.pendingBalanceDecimal }}</span></strong> NANO
                                </td>
                            </tr>
                        </tbody>
                    </table>

                    <div class="graph-account-detail-scroll dark-scrollbar">
                        <table ng-show="node.pendingTxs.length > 0" class="graph-account-detail-header" ng-click="hidePendingTxs = !hidePendingTxs">
                            <tbody><tr>
                                <td>
                                    <p><strong>Last few unpocketed transactions</strong></p>
                                </td>
                                <td>
                                    <img class="arrow" ng-if="hidePendingTxs" src="/resources/arrow-down.png">
                                    <img class="arrow" ng-if="!hidePendingTxs" src="/resources/arrow-up.png">
                                </td>
                            </tr></tbody>
                        </table>

                        <div class="graph-account-detail-tx" ng-if="!hidePendingTxs" ng-repeat="tx in node.pendingTxs">
                            <div style="margin-bottom:0.6em; display:inline-block;">{{ tx.date }} - <strong> {{ tx.y.toUpperCase()}} </strong>{{ tx.n.toFixed(2) }} NANO </div>

                            <div class="graph-account-detail-tx-tag-wrap">
                                <div class="graph-account-detail-tx-direction">{{ tx.y == 'send' ? 'to' : 'from' }}</div>
                                <a class="graph-account-detail-tx-tag clickable" ng-style="{ 'background-color': tx.color }" href="/account/{{tx.a}}">{{ tx.address }}</a>
                            </div>

                            <a class="no-pad graph-account-detail-hash clickable" href="/block/{{tx.h}}">{{ ui.isMobileDisplay ? abbreviateHash(tx.h) : tx.h }}</a>
                        </div>

                        <table ng-show="node.txs.length > 0" class="graph-account-detail-header" ng-click="hideTxs = !hideTxs">
                            <tbody><tr>
                                <td>
                                    <p><strong>Last few transactions</strong></p>
                                </td>
                                <td ng-if="node.txs.length > 0">
                                    <img class="arrow" ng-if="hideTxs" src="/resources/arrow-down.png">
                                    <img class="arrow" ng-if="!hideTxs" src="/resources/arrow-up.png">
                                </td>
                            </tr></tbody>
                        </table>

                        <div class="graph-account-detail-tx" ng-if="!hideTxs" ng-repeat="tx in node.txs">
                            <div style="margin-bottom:0.6em; display:inline-block;">{{ tx.date }} - <strong> {{ tx.y.toUpperCase()}} </strong>{{ tx.n.toFixed(2) }} NANO </div>

                            <div class="graph-account-detail-tx-tag-wrap">
                                <div class="graph-account-detail-tx-direction">{{ tx.y == 'send' ? 'to' : 'from' }}</div>
                                <a class="graph-account-detail-tx-tag clickable" ng-style="{ 'background-color': tx.color }" href="/account/{{tx.a}}">{{ tx.address }}</a>
                            </div>

                            <a class="no-pad graph-account-detail-hash clickable" href="/block/{{tx.h}}">{{ ui.isMobileDisplay ? abbreviateHash(tx.h) : tx.h }}</a>
                        </div>
                    </div>
                </div>
                <div ng-if="node.loaded && node.hasError">
                    No information available for this account.
                </div>
            </div>

            <div ng-if="!isAnimating && aliases[node.account] && !node.hideAlias" class="graph-alias">
                <!-- arrow -->
                <div></div>
                <div></div>
                {{ aliases[node.account].toUpperCase() }}
            </div>
        </div>

        <!-- Settings -->
        <div class="graph-settings" 
            ng-mousedown="$event.stopPropagation()"
            ng-mouseup="$event.stopPropagation()"
            ng-click="$event.stopPropagation()"
            ng-init="ui.settingsShown = true">

            <div class="graph-settings-minimise" ng-show="ui.settingsShown" ng-click="ui.settingsShown = false">hide</div>

            <div class="graph-settings-placeholder" ng-show="!ui.settingsShown" ng-click="ui.settingsShown = true">
                <div>Show filters</div>
                <div>+</div>
            </div>

            <table ng-if="ui.settingsShown">
                <tbody>
                    <tr>
                        <td style="padding-right: 0.7em">Show only:</td>
                        <td>
                            <select name="transactiontype" ng-model="query.type">
                                <option value="send">"send"</option>
                                <option value="receive">"receive"</option>
                            </select>
                            transactions.
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 0.7em">Amount:</td>
                        <td>
                            <input name="minamount" placeholder="min" type="number" style="width: 8em" min="0" ng-model="query.minAmount"> 
                            to
                            <input name="maxamount" placeholder="max" type="number" style="width: 8em" min="0" ng-model="query.maxAmount">
                            NANO
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 0.7em">Include the last:</td>
                        <td>
                            <input name="numTx" type="number" style="width: 8em" min="0" ng-model="query.numTx">  transactions (max 1000).
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 0.7em">Dates:</td>
                        <td>
                            <input name="mindate" placeholder="any" type="date" style="width: 10em" ng-model="query.minDate">
                            to
                            <input name="maxdate" placeholder="any" type="date" style="width: 10em" ng-model="query.maxDate">
                        </td>
                    </tr>
                    <tr>
                        <td style="padding-right: 0.7em">
                            <button ng-if="ui.settingsShown" class="search-button a-loadmore-btn" style="margin: 0" ng-click="io.submitAddress()">Refresh</button>
                        </td>
                        <td>
                            <input name="includeunknown" 
                                    type="checkbox" 
                                    ng-model="query.includeUnkDates" 
                                    style="vertical-align: middle">
                            Include transactions with unknown timestamps
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

</div>