<div class="menu" ng-mousedown="$event.stopPropagation()">

    <form class="no-pad menu-search">
        <table>
            <tbody>
                <tr>
                    <td>
                        <a ng-href="/">
                            <div style="width:2.5em; margin-right:1em; cursor: pointer" ng-click="debug()">
                                <nn-sprite ui="ui" name="'logo'"></nn-sprite>
                            </div>
                        </a>
                    </td>
                    <td style="width:100%" class="relative">
                        <input type="text" name="nanoaddress" ng-model="gui_address"
                            placeholder="Search by account, block hash or account alias">

                        <!-- Acknowledge my nano ninja-->
                        <div class="menu-search-nano-ninja-ack" ng-if="!gui_address">Powered by <a href="https://mynano.ninja/">My Nano Ninja</a></div>

                        <!-- this provides the background color -->
                        <div class="menu-search-paste-icon-wrap">
                            <div class="menu-search-paste-icon" ng-click="copyAccount(address)">
                                <nn-sprite ng-if="!ui.addressPasted" ui="ui" name="'paste'"></nn-sprite>
                                <nn-sprite ng-if="ui.addressPasted" ui="ui" name="'paste_light'"></nn-sprite>
                                <div class="menu-search-paste-desc">
                                    {{ ui.addressPasted ? 'Copied!' : 'Copy to clipboard' }}
                                    <!-- The arrow -->
                                    <div></div>
                                </div>
                            </div>
                        </div>
                    </td>
                    <td>
                        <button class="search-button" type="submit" ng-click="io.submitAddress(gui_address)">
                            <div ng-if="!ui.isMobileDisplay">Search</div>
                            <div ng-if="ui.isMobileDisplay" class="search-img">
                                <nn-sprite ui="ui" name="'search'"></nn-sprite>
                            </div>
                        </button>
                    </td>
                    <td ng-if="ui.isMobileDisplay">
                        <div class="menu-btn" ng-click="ui.showMenuBar = !ui.showMenuBar">
                            <nn-sprite ui="ui" name="'menu'"></nn-sprite>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </form>

    <div class="menu-item-wrap" ng-if="!ui.isMobileDisplay || ui.showMenuBar">
        <div class="menu-item help" ng-click="$event.stopPropagation()">
            <div class="help-mark">?</div>
            <div class="help-bridge"></div>
            <div class="help-dialog">
                <h4>What is this?</h4>
                <p>
                    This graph displays transactions happening over the NANO network. NANO is a fast, feeless and
                    infinitely scalable cryptocurrency. Read
                    more about NANO <a href="{{ static.nano_url }}" class="help-dialog-link">here</a>.
                </p>
                <p>
                    Each arrow represents an individual transaction, and circles represent accounts. Click on them to
                    see more details.
                </p>
                <p>
                    Not all transactions are displayed. Only 'send' transactions are shown, and only up to the last 100
                    transactions are included. The most recent transactions are shaded
                    {{ ui.darkTheme ? 'lightest' : 'darkest' }}.
                </p>

                <h4>Where do I start?</h4>
                <p>
                    Check out some of these addresses, verified by My Nano Ninja:
                </p>
                <div ng-repeat="a in static.default_addresses" style="margin: 0 0 0.5em 0">
                    <div class="help-dialog-address-label">{{ a.alias }}: </div>
                    <div class="help-dialog-address" ng-click="io.search(a.address)">
                        {{ a.address }}
                    </div>
                </div>
                <div style="font-size: 0.7em; margin-top:2em">
                    This website is created and maintained by community members and is not affiliated with the NANO
                    Foundation.
                    Donations welcome and highly appreciated:
                    <strong>{{ static.donate }}</strong>
                </div>

            </div>
        </div>

        <div class="menu-item menu-icon" ng-click="changeTheme()">
            <div class="sprite-wrap" ng-if="!ui.darkTheme">
                <nn-sprite ui="ui" name="'moon'"></nn-sprite>
            </div>
            <div class="sprite-wrap" ng-if="ui.darkTheme">
                <nn-sprite ui="ui" name="'sun'"></nn-sprite>
            </div>
        </div>

        <div class="menu-item menu-camera-icon" ng-click="screenshot()">
            <nn-sprite ui="ui" name="'camera'"></nn-sprite>
        </div>

        <a href="https://nanoverse.io/api/"><div class="menu-item menu-link">Node API</div></a>
    </div>

</div>