<!DOCTYPE html>
<html ng-app="app" ng-controller="ctrl">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ ui.title }}</title>
    <base href="/">
    <link rel="stylesheet" href="styles.css">
    <link rel="shortcut icon" href="/resources/favicon.ico" />
</head>

<body ng-class="{ 'dark': ui.darkTheme, 'mob': ui.isMobileDisplay }">

    <nn-head></nn-head>
    
    <ng-view></ng-view>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular-route.js"></script>
    <script src="graph.js"></script>
    <script src="app.js"></script>
    <script src="ctrl-graph.js"></script>
    <script src="ctrl-block.js"></script>
    <script src="ctrl-account.js"></script>

    <script src="directive-bar-preloader.js"></script>
    <script src="directive-sprite.js"></script>
    <script src="directive-head.js"></script>
    <script src="directive-footer.js"></script>
    <script src="directive-copyable-field.js"></script>
</body>
</html>