
<p>
    Returns number of blocks for a given account. NANO accounts have their own blockchain so this value will be different for different accounts. 
    <a class="link" href="https://docs.nano.org/what-is-nano/overview/">Read more</a>.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_block_count')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>

<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"account_block_count"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>
                The <strong>account public address</strong> for which balance is to be retreived. An address consists of 3 parts:
                <ol>
                    <li><strong>The prefix</strong>: either <span class="hfont">xrb_</span> or <span class="hfont">nano_</span></li>
                    <li><strong>The encoded account public key</strong>: a 52-character string encoding of the account's public key</li>
                    <li><strong>The checksum</strong>: a 8-character checksum determined by the encoded public key</li>
                </ol>
            </td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['account_block_count'].in_str"></nn-pasteable>
    <pre>{{ samples['account_block_count'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_block_count')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"balance"</span></td>
            <td>string representation of uint128</td>
            <td>The number of blocks published by this account.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['account_block_count'].out_str"></nn-pasteable>
    <pre>{{ samples['account_block_count'].out_str }}</pre>
</div>