<p>For a given account, returns:</p>
<ol>
    <li>The balance of that account</li>
    <li>The balance not yet received by that account (the "pending" balance)</li>
</ol>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_balance')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>

<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"account_balance"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>
                The <strong>account public address</strong> for which balance is to be retreived. An address consists of 3 parts:
                <ol>
                    <li><strong>The prefix</strong>: either <span class="hfont">xrb_</span> or <span class="hfont">nano_</span></li>
                    <li><strong>The encoded account public key</strong>: a 52-character string encoding of the account's public key</li>
                    <li><strong>The checksum</strong>: a 8-character checksum determined by the encoded public key</li>
                </ol>
            </td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['account_balance'].in_str"></nn-pasteable>
    <pre>{{ samples['account_balance'].in_str }}</pre>
</div>


<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_balance')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"balance"</span></td>
            <td>string representation of uint128</td>
            <td>The amount of NANO owned by the account, in <strong><a class="link" href="{{static.url.raw}}">raw</a></strong>.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"pending"</span></td>
            <td>string representation of uint128</td>
            <td>
                The amount of NANO unpocketed by the account, in <strong><a class="link" href="{{static.url.raw}}">raw</a></strong>. Pending balances still belong to an account; they are just balances 
                sent to an account for which a corresponding <span class="hfont">receive</span> block has not yet been published.
                An account will be able to spend their pending balances as soon as they publish a receive block.
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['account_balance'].out_str"></nn-pasteable>
    <pre>{{ samples['account_balance'].out_str }}</pre>
</div>