
<p>
    Returns the historical blocks published by a given account (<span class="hfont">xrb_...</span> or <span class="hfont">nano_...</span>). 
</p>
<p>
    The response will contain blocks that are simplified as follows:
</p>

<table>
    <thead>
        <tr>
            <td>Block type</td>
            <td>Will be returned as</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Legacy <span class="hfont">send</span> / <span class="hfont">receive</span> blocks</td>
            <td><span class="hfont">send</span> / <span class="hfont">receive</span> blocks respectively.</td>
        </tr>
        <tr>
            <td>Universal <span class="hfont">state send</span> / <span class="hfont">state receive</span> blocks</td>
            <td><span class="hfont">send</span> / <span class="hfont">receive</span> blocks respectively.</td>
        </tr>
        <tr>
            <td><span class="hfont">open</span> and <span class="hfont">state open</span> blocks</td>
            <td><span class="hfont">receive</span> blocks</td>
        </tr>
        <tr>
            <td><span class="hfont">change</span>, <span class="hfont">state change</span> and <span class="hfont">state epoch</span> blocks</td>
            <td>are skipped unless if the parameter <span class="hfont">"raw"</span> is set to <span class="hfont">true</span></td>
        </tr>
    </tbody>
</table>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_history')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"account_history"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>
                The account for which balance is to be retreived (<span class="hfont">xrb_...</span> or <span class="hfont">nano_...</span>).
            </td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"count"</span></td>
            <td>integer</td>
            <td>
                <div><strong>Default</strong>: <span class="hfont">"-1"</span></div>
                The number of blocks to be returned. If not specified, all blocks of the account will be returned. 
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td><span class="hfont">"raw"</span></td>
            <td>boolean</td>
            <td>
                <div><strong>Default</strong>: <span class="hfont">false</span></div>
                If set to <span class="hfont">true</span>, then:
                
                <ul>
                    <li>The full block info will be returned instead of just a simplified
                        <span class="hfont">"send"</span> / <span class="hfont">"receive"</span> explanation of blocks.</li>
                    <li>All block types will be returned, including 
                        <span class="hfont">change</span>, 
                        <span class="hfont">state change</span> and
                        <span class="hfont">state epoch</span> blocks.</li>
                </ul>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td><span class="hfont">"head"</span></td>
            <td>string</td>
            <td>
                <div><strong>Default</strong>: <span class="hfont">null</span></div>
                <div>
                    If specified, will cause the node to return blocks starting with this block hash, instead of starting with the 
                    most recent block. Format is a 64 hexadecimal digit string. Must be the hash of a valid block published by the specified 
                    <span class="hfont">account</span>. 
                </div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"offset"</span></div>
                <div class="version">Version 11.0+</div>
            </td>
            <td>integer</td>
            <td>
                <div><strong>Default</strong>: <span class="hfont">0</span></div>
                <div>
                    If specified, will skip the specified number of blocks, starting from <span class="hfont">"head"</span>, if it is specified.
                </div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"reverse"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><strong>Default</strong>: <span class="hfont">false</span></div>
                <div>
                    If set to true <span class="hfont">true</span>, will return blocks starting from <span class="hfont">"head"</span> (if specified, or the first 
                    block of the account), up until to latest block, as limited by <span class="hfont">"count"</span>.
                </div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"account_filter"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>Array of strings</td>
            <td>
                Array of public addresses: if specified, results will be filtered to only show sends/receives connected to the provided account(s).
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['account_history'].in_str"></nn-pasteable>
    <pre>{{ samples['account_history'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_history')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>The account public address (<span class="hfont">xrb_...</span> or <span class="hfont">nano_...</span>).</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"history"</span></td>
            <td>Array of JSON objects</td>
            <td>
                An array containing the historical blocks
            </td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"previous"</span></td>
            <td>string</td>
            <td>
                The block hash that would be next to process if <span class="hfont">"count"</span> was larger.
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['account_history'].out_str"></nn-pasteable>
    <pre>{{ samples['account_history'].out_str }}</pre>
</div>