
<p>Used for getting multiple account balances at once. For a given array of accounts, returns:</p>
<ol>
    <li>The balance of each account, in <a class="link" ng-href="{{static.url.raw}}">raw</a>.</li>
    <li>The balance not yet received by each account (the "pending" balance), in <a class="link" ng-href="{{static.url.raw}}">raw</a>.</li>
</ol>
<p>If any of the accounts in <span class="hfont">"accounts"</span> is invalid, <span class="hfont">"Bad account number"</span> error will be returned.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('accounts_balances')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"accounts_balances"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"accounts"</span></td>
            <td>Array of strings</td>
            <td>The array of account public addresses, for which we want the balance of.</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['accounts_balances'].in_str"></nn-pasteable>
    <pre>{{ samples['accounts_balances'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('accounts_balances')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"balances"</span></td>
            <td>JSON object</td>
            <td>
                <div>
                    An object containing the balance (<span class="hfont">"balance"</span>) and pending balance (<span class="hfont">"pending"</span>) 
                    for each account in <span class="hfont">"accounts"</span>.
                </div>
                <div>All units are in <a class="link" ng-href="{{static.url.raw}}">raw</a>.</div>
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['accounts_balances'].out_str"></nn-pasteable>
    <pre>{{ samples['accounts_balances'].out_str }}</pre>
</div>
