
<p>
    Given an array of account public addresses, returns the hash of the latest block (the "frontier") for each account.
</p>
<p>If any of the accounts in <span class="hfont">"accounts"</span> is invalid, <span class="hfont">"Bad account number"</span> error will be returned.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('accounts_frontiers')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"accounts_frontiers"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"accounts"</span></td>
            <td>Array of strings</td>
            <td>An array of account public addresses (<span class="hfont">xrb_...</span> or <span class="hfont">nano_...</span>).</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['accounts_frontiers'].in_str"></nn-pasteable>
    <pre>{{ samples['accounts_frontiers'].in_str }}</pre>
</div>


<p><b>Success response parameters</b></p>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"frontiers"</span></td>
            <td>JSON object</td>
            <td>
                <p>
                    If all accounts in <span class="hfont">"accounts"</span> is valid, an object will be returned containing the latest block hash (the 
                    'frontier') for each account. Each block hash will be a 64 character string.
                </p>
                <p>If the <span class="hfont">"accounts"</span> array is empty, an empty string <span class="hfont">""</span> will be returned instead.</p>
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample successful response:</p>
<div class="sample">
    <nn-pasteable text="samples['accounts_frontiers'].out_str"></nn-pasteable>
    <pre>{{ samples['accounts_frontiers'].out_str }}</pre>
</div>


<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('accounts_frontiers')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"error"</span></td>
            <td>string</td>
            <td>
                <span class="hfont">"Bad account number"</span>
            </td>
            <td>If the array of <span class="hfont">"accounts"</span> contains an invalid account address.</td>
        </tr>
    </tbody>
</table>

<p>Sample error response:</p>
<div class="sample">
    <nn-pasteable text="samples['accounts_frontiers'].error_str"></nn-pasteable>
    <pre>{{ samples['accounts_frontiers'].error_str }}</pre>
</div>