
<p>
    Returns frontier, open block, change representative block, balance, last modified timestamp from local database & block count for account. 
</p>
<p>
    Only works for accounts that have an entry on the ledger, unopened accounts will return the error <span class="hfont">"Account not found"</span>.
    If the account is not a valid public address, <span class="hfont">"Bad account number"</span> will be returned.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_info')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"account_info"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>
                The <strong>account public address</strong> for which balance is to be retreived. An address consists of 3 parts:
                <ol>
                    <li><strong>The prefix</strong>: either <span class="hfont">xrb_</span> or <span class="hfont">nano_</span></li>
                    <li><strong>The encoded account public key</strong>: a 52-character string encoding of the account's public key</li>
                    <li><strong>The checksum</strong>: a 8-character checksum determined by the encoded public key</li>
                </ol>
            </td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"representative"</span></td>
            <td>boolean</td>
            <td>
                <p><strong>Default</strong>: <span class="hfont">false</span></p>
                If set to <span class="hfont">true</span>, the account's representative will also be returned.
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td><span class="hfont">"weight"</span></td>
            <td>boolean</td>
            <td>
                <p><strong>Default</strong>: <span class="hfont">false</span></p>
                If set to <span class="hfont">true</span>, the account's voting weight will also be returned.
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td><span class="hfont">"pending"</span></td>
            <td>boolean</td>
            <td>
                <p><strong>Default</strong>: <span class="hfont">false</span></p>
                If set to <span class="hfont">true</span>, the account's pending balance will also be returned.
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['account_info'].in_str"></nn-pasteable>
    <pre>{{ samples['account_info'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_info')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"frontier"</span></td>
            <td>string</td>
            <td>The hash of the last block in the account's blockchain.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"open_block"</span></td>
            <td>string</td>
            <td>The hash of the block that opened this account.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"representative_block"</span></td>
            <td>string</td>
            <td>The representative block of this account.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"balance"</span></td>
            <td>string representation of uint128</td>
            <td>The balance of the account, in <a class="link" href="">raw</a>.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"modified_timestamp"</span></td>
            <td>string representation of integer</td>
            <td>
                The timestamp when the block reached our node, in seconds since epoch.
                Since the NanoVerse node was started in June 2019, timestamps before this date may be inaccurate. 
            </td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"block_count"</span></td>
            <td>string representation of integer</td>
            <td>The number of blocks in this account's blockchain.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"representative"</span></td>
            <td>string</td>
            <td>The account representative's public account address.</td>
            <td>If <span class="hfont">"representative"</span> is set to <span class="hfont">"true"</span></td>
        </tr>
        <tr>
            <td><span class="hfont">"weight"</span></td>
            <td>string representation of uint128</td>
            <td>The account's voting weight, in raw.</td>
            <td>If <span class="hfont">"weight"</span> is set to <span class="hfont">"true"</span></td>
        </tr>
        <tr>
            <td><span class="hfont">"pending"</span></td>
            <td>string representation of uint128</td>
            <td>The account's pending balance, in raw.</td>
            <td>If <span class="hfont">"pending"</span> is set to <span class="hfont">"true"</span></td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['account_info'].out_str"></nn-pasteable>
    <pre>{{ samples['account_info'].out_str }}</pre>
</div>