
<p>
    For an array of accounts, returns a list of block hashes which have not yet been received by those accounts.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('accounts_pending')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"accounts_pending"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"accounts"</span></td>
            <td>Array of strings</td>
            <td>
                <div>An array of account public addresses.</div>
                <div><b>API limit</b>: maximum 100 per call, defaults to 100 if unspecified.</div>
            </td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"count"</span></td>
            <td>integer</td>
            <td>
                <div>The maximum number of blocks per account to return.</div>
                <div><b>API limit</b>: maximum 100 per call, defaults to 100 if unspecified.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"threshold"</span></div>
                <div class="version">Version 8.0+</div>
            </td>
            <td>uint128</td>
            <td>
                <div>Only return those pending block hashes with 'amount' more than or equal to <span class="hfont">"threshold"</span>.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"source"</span></div>
                <div class="version">Version 9.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><strong>Default</strong>: <span class="hfont">false</span></div>
                <div>Only return those pending block hashes with amount and source accounts.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"include_active"</span></div>
                <div class="version">Version 15.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><strong>Default</strong>: <span class="hfont">false</span></div>
                <div>Also return active (unconfirmed) blocks.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"sorting"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><strong>Default</strong>: <span class="hfont">false</span></div>
                <div>Returns each account's blocks, sorted by their amounts in descending order.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"include_only_confirmed"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><strong>Default</strong>: <span class="hfont">false</span></div>
                <div>Only returns block which have their confirmation height set or are undergoing confirmation height processing.</div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['accounts_pending'].in_str"></nn-pasteable>
    <pre>{{ samples['accounts_pending'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('accounts_pending')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"blocks"</span></td>
            <td>JSON Object</td>
            <td>
                For each account in <span class="hfont">"accounts"</span>, contains an array of block hashes.
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample successful response:</p>
<div class="sample">
    <nn-pasteable text="samples['accounts_pending'].out_str"></nn-pasteable>
    <pre>{{ samples['accounts_pending'].out_str }}</pre>
</div>

<p><strong>Common error responses</strong></p>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Code</td>
            <td>Description</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">400</span></td>
            <td>
                <b>Bad request</b>
                <div>
                    Server will return a JSON containing a single parameter, <span class="hfont">"error"</span>. The most common error messages are:
                </div>
                <ol>
                    <li><span class="hfont">"Invalid parameter value for 'accounts'"</span> - (API-level error) at least one of the specified account/s are not valid addresses according to the NANO protocol.</li>
                    <li><span class="hfont">"Bad account number"</span> - (Node-level error) the specified account/s, while valid according to the NANO protocol, do not exist.</li>
                </ol>
            </td>
        </tr>
        <tr>
            <td><span class="hfont">503</span></td>
            <td>
                <b>Service unavailable</b>
                <div>Service is temporarily unavailable due to server error, or maintanence.</div>
            </td>
        </tr>
    </tbody>
</table>

<p>Sample error response:</p>
<div class="sample">
    <nn-pasteable text="samples['accounts_pending'].error_str"></nn-pasteable>
    <pre>{{ samples['accounts_pending'].error_str }}</pre>
</div>