
<p>
    Returns the voting weight for a given account, in <a class="link" ng-href="{{static.url.raw}}">raw</a>.
</p>
<p>
    Returns <span class="hfont">"Bad account number"</span> if the provided account is not a valid account public address.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_weight')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div> 
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"account_weight"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>The account's public address (<span class="hfont">xrb_...</span> or <span class="hfont">nano_...</span>).</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['account_weight'].in_str"></nn-pasteable>
    <pre>{{ samples['account_weight'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_weight')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"weight"</span></td>
            <td>string representation of uint128</td>
            <td>The account's voting weight, in <a class="link" ng-href="{{static.url.raw}}">raw</a>.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['account_weight'].out_str"></nn-pasteable>
    <pre>{{ samples['account_weight'].out_str }}</pre>
</div>