
<p>Returns the account's public address for a given the public key</p>
<p>
    Account public addresses are uniquely derived from their corresponding public key, using a specific base32 encoding algorithm that 
    helps prevent transcription errors by excluding similar-looking characters (such as <span class="hfont">0</span> and <span class="hfont">O</span>, 
    <span class="hfont">B</span> and <span class="hfont">8</span> etc). 
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_get')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"account_get"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"key"</span></td>
            <td>string</td>
            <td>
                The 64-uppercase-character hexadecimal public key
            </td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['account_get'].in_str"></nn-pasteable>
    <pre>{{ samples['account_get'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_get')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>The account's public address (<span class="hfont">xrb_...</span> or <span class="hfont">nano_...</span>).</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['account_get'].out_str"></nn-pasteable>
    <pre>{{ samples['account_get'].out_str }}</pre>
</div>