
<p>
    For a given account, returns the account representative's public address (<span class="hfont">xrb_...</span> or <span class="hfont">nano_</span>), which votes on 
    the account's behalf. 
    Every account must have a representative (which could be the account itself).
</p>
<p>
    Returns <span class="hfont">"Bad account number"</span> if the provided account is not a valid account public address.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_representative')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"account_representative"</span>.</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>The account's public address (<span class="hfont">xrb_...</span> or <span class="hfont">nano_...</span>).</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['account_representative'].in_str"></nn-pasteable>
    <pre>{{ samples['account_representative'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('account_representative')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"representative"</span></td>
            <td>string</td>
            <td>The account representative's public address.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['account_representative'].out_str"></nn-pasteable>
    <pre>{{ samples['account_representative'].out_str }}</pre>
</div>