
<p>Returns:</p>
<ol>
    <li>The network minimum-required Proof-of-Work difficulty (the lowest accepted by the network).</li>
    <li>The network's current Proof-of-Work difficulty (blocks that publish a Proof-of-Work close to or above this difficulty, are likely to be prioritised).</li>
    <li>The multiplier of the network's current difficulty over the network minimum difficulty.</li>
    <li>The trend in the network's difficulty over time, sampled on intervals between 16 to 36 seconds. (Only included if 
        <span class="hfont">"include_trend"</span> is set to <span class="hfont">true</span>.</li>
</ol>
<div class="version">Version 19.0+</div>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('active_difficulty')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"active_difficulty"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"include_trend"</span></td>
            <td>string</td>
            <td>
                <p><b>Default</b>: <span class="hfont">false</span></p>
                <div>If <span class="hfont">true</span>, the response will contain an array of decimals representing the history of the network difficulty, 
                    sampled at every 16 to 36 seconds.</div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['active_difficulty'].in_str"></nn-pasteable>
    <pre>{{ samples['active_difficulty'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('active_difficulty')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"network_minimum"</span></td>
            <td>16 hexadecimal digit string</td>
            <td>The network's minimum-required Proof-of-Work difficulty.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"network_current"</span></td>
            <td>16 hexadecimal digit string</td>
            <td>The network's current Proof-of-Work difficulty.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"multiplier"</span></td>
            <td>string representation of decimal</td>
            <td><span class="hfont">"network_current"</span> divided by <span class="hfont">"network_minimum"</span>.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"difficulty_trend"</span></td>
            <td>Array of decimals</td>
            <td>The historical network difficulties.</td>
            <td>If <span class="hfont">"include_trend"</span> is set to <span class="hfont">true</span>.</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['active_difficulty'].out_str"></nn-pasteable>
    <pre>{{ samples['active_difficulty'].out_str }}</pre>
</div>