
<p>
    Returns the total amount of NANO in the circulating supply, in <a class="link" ng-href="{{static.url.raw}}">raw</a>.
    This value is approximately <span class="hfont">1.33 x 10<sup>38</sup></span> raw and is very unlikely to change in the future. 
</p>
<p>
    This value does not take take into account the NANO that are effectively lost by being accidentally or intentionally sent to 'burn' accounts, i.e. 
    accounts whose seed are not known, and cannot be spent from.
</p>
<p>
    As a result, the actual 'usable' supply is lower than this number.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('available_supply')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"available_supply"</span></td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['available_supply'].in_str"></nn-pasteable>
    <pre>{{ samples['available_supply'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('available_supply')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"available"</span></td>
            <td>string</td>
            <td>The amount of <a class="link" ng-href="{{static.url.raw}}">raw</a> in the public supply.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['available_supply'].out_str"></nn-pasteable>
    <pre>{{ samples['available_supply'].out_str }}</pre>
</div>