
<p>Returns the block hash for a given block content.</p>
<div class="version">Version 13.0+</div>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('block_hash')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"block_hash"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"block"</span></td>
            <td>string</td>
            <td>String representation of a JSON object containing the block details. Multiple different block layouts are allowed.</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <span class="hfont">"json_block"</span>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>If set to <span class="hfont">true</span>, then a JSON object will be expected for <span class="hfont">"block"</span>, instead of a JSON string.</div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['block_hash'].in_str"></nn-pasteable>
    <pre>{{ samples['block_hash'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('block_hash')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>The block hash</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['block_hash'].out_str"></nn-pasteable>
    <pre>{{ samples['block_hash'].out_str }}</pre>
</div>