
<p>Creates a json representation of new block based on input data and signed with private key or account in wallet. Used for offline signing.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('block_create')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"block_create"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"balance"</span></td>
            <td>uint128</td>
            <td>
                <div>The final balance of the account, <b>after</b> this block, in <a class="link" ng-href="{{static.url.raw}}">raw</a>.</div>
                <ul>
                    <li>If balance < previous block balance, then this block is a <span class="hfont">send</span> block.</li>
                    <li>If balance > previous block balance, then this block is a <span class="hfont">receive</span> block.</li>
                </ul>
            </td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"wallet"</span> and <span class="hfont">"account"</span></div>
                <div>- or -</div>
                <div><span class="hfont">"key"</span></div>
            </td>
            <td>string</td>
            <td>
                <div>There are two ways of signing a block. Either provide:</div>
                <ul>
                    <li>
                        The wallet ID (as <span class="hfont">"wallet"</span>), and the account (as <span class="hfont">"account"</span>, e.g. <span class="hfont">nano_...</span>), that the block is being created for, <b>or</b>
                    </li>
                    <li>
                        The private key of this account (as <span class="hfont">"key"</span>).
                    </li>
                </ul>
                
            </td>
            <td>Requires 1 signing method</td>
        </tr>
        <tr>
            <td>
                <span class="hfont">"source"</span>
                <div>- or -</div>
                <span class="hfont">"link"</span>
            </td>
            <td>string</td>
            <td>
                <div>
                    For <span class="hfont">receive</span> blocks, we need to specify the corresponding send block 
                    (the send block that this receive block will pocket). This can be done in one of 2 ways:
                </div>
                <ul>
                    <li>By setting <span class="hfont">"source"</span> as the block hash of the corresponding <span class="hfont">send</span> block, <b>or</b></li>
                    <li>By setting <span class="hfont">"link"</span> as the block hash of the corresponding <span class="hfont">send</span> block.</li>
                </ul>
            </td>
            <td>Only required for <span class="hfont">receive</span> blocks</td>
        </tr>
        <tr>
            <td>
                <span class="hfont">"destination"</span>
                <div>- or -</div>
                <span class="hfont">"link"</span>
            </td>
            <td>string</td>
            <td>
                <div>
                    For <span class="hfont">send</span> blocks, we need to specify the destination account. This can be done in one of 2 ways:
                </div>
                <ul>
                    <li>By setting <span class="hfont">"destination"</span> as destination account's address (<span class="hfont">nano_...</span>) 
                        that the sent funds should be accessible to, <b>or</b></li>

                    <li>By setting <span class="hfont">"link"</span> as destination account's public key (64 character string).</li>
                </ul>
            </td>
            <td>Only required for <span class="hfont">send</span> blocks</td>
        </tr>
        <tr>
            <td><span class="hfont">"representative"</span></td>
            <td>string</td>
            <td>The account's representative, after this block. Use this to change the account representative.</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"previous"</span></td>
            <td>string</td>
            <td>The block hash of the previous block on this account's block chain (<span class="hfont">"0"</span> for first block).</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"work"</span></td>
            <td>string</td>
            <td>The Proof-of-Work (16 hexadecimal digit string) for this block: set if the block is to use work precomputed elsewhere.</td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <span class="hfont">"json_block"</span>
                <div class="version">Version 19.0+</div>
            </td>
            <td>string</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                If set to <span class="hfont">true</span>, <span class="hfont">"block"</span> in the response will be a JSON object instead of a JSON string.
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['block_create'].in_str"></nn-pasteable>
    <pre>{{ samples['block_create'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('block_create')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>The block's hash - 64 uppercase character hexadecimal string (<span class="hfont">[0-9A-F]</span>)</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"block"</span></td>
            <td>
                string
                <div>- or -</div>
                JSON object
            </td>
            <td>
                If <span class="hfont">"json_block"</span> is <span class="hfont">true</span>, this will be a JSON object, otherwise this will be a JSON string.
                <div>Contains the contents of the block supplied by the request, plus 2 additional fields:</div>
                <ul>
                    <li><span class="hfont">"signature"</span>: the 128 uppercase character hexadecimal signature of this block.</li>
                    <li><span class="hfont">"work"</span>: the 16 lowercase character hexadecimal Proof-of-Work for this block.</li>
                </ul>
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['block_create'].out_str"></nn-pasteable>
    <pre>{{ samples['block_create'].out_str }}</pre>
</div>