
<p>
    Returns the block information for an array of block hashes.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('blocks_info')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"blocks_info"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"hashes"</span></td>
            <td>Array of strings</td>
            <td>A array of block hashes (64 uppercase character hexadecimal strings)</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"pending"</span></td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>If <span class="hfont">true</span>, the contents returned will include a flag if a block is pending.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"source"</span></div>
                <div class="version">Version 9.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>
                    If <span class="hfont">true</span>, 
                    include the source account for <span class="hfont">receive</span> and <span class="hfont">open</span> blocks, 
                    in the parameter <span class="hfont">"source_account"</span>. Will be <span class="hfont">0</span> for other types of blocks.
                </div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"balance"</span></div>
                <div class="version">Version 12.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>If <span class="hfont">true</span>, includes the balance of the account at the time of the block.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"json_block"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>If <span class="hfont">true</span>, the block content will be returned as a JSON object instead of a JSON string.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"include_not_found"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>If <span class="hfont">true</span>, an additional 
                    <span class="hfont">"blocks_not_found"</span> is provided in the response, 
                    containing a list of the block hashes that were not found in the local database. 
                    Previously to this version an error would be produced if any block was not found.
                </div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['blocks_info'].in_str"></nn-pasteable>
    <pre>{{ samples['blocks_info'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('blocks_info')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"blocks"</span></td>
            <td>JSON object</td>
            <td>
                Contains all the block information for each block hash in <span class="hfont">"hashes"</span>.
                <div>See <a class="link" href="#block_info">block_info</a>.</div>
            </td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['blocks_info'].out_str"></nn-pasteable>
    <pre>{{ samples['blocks_info'].out_str }}</pre>
</div>