
<p>
    For a given bloch hash, returns the account containing that block. 
</p>
<p>
    NANO accounts have their own blockchain so every block is associated with the account that published it.
</p>
<p>
    If <span class="hfont">"hash"</span> is not a valid block hash, <span class="hfont">"Block not found"</span> error will be returned.
</p>
<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('block_account')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"block_account"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>A valid 64 character hexadecimal block hash.</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['block_account'].in_str"></nn-pasteable>
    <pre>{{ samples['block_account'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('block_account')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>The block's account's public address (<span class="hfont">xrb_...</span> or <span class="hfont">nano_...</span>).</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['block_account'].out_str"></nn-pasteable>
    <pre>{{ samples['block_account'].out_str }}</pre>
</div>