
<p>
    Returns the block information for an array of block hashes.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('blocks')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"blocks"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"hashes"</span></td>
            <td>Array of strings</td>
            <td>A array of block hashes (64 uppercase character hexadecimal strings)</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['blocks'].in_str"></nn-pasteable>
    <pre>{{ samples['blocks'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('blocks')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"blocks"</span></td>
            <td>JSON object</td>
            <td>Contains all the block content for each block hash in <span class="hfont">"hashes"</span>.</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['blocks'].out_str"></nn-pasteable>
    <pre>{{ samples['blocks'].out_str }}</pre>
</div>