<p>
    Returns the number of blocks in the ledger and unchecked, synchronising blocks for the NanoVerse node.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('block_count')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"block_count"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"include_cemented"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <p><b>Default</b>: <span class="hfont">false</span>.</p>
                If <span class="hfont">true</span>, the number of cemented blocks will also be returned.
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['block_count'].in_str"></nn-pasteable>
    <pre>{{ samples['block_count'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('block_count')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"count"</span></td>
            <td>string representation of int</td>
            <td>The number of blocks in the NanoVerse node ledger.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"unchecked"</span></td>
            <td>string representation of int</td>
            <td>The number of unchecked blocks in the NanoVerse node ledger.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"cemented"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>string representation of int</td>
            <td>The number of cemented blocks in the NanoVerse node ledger.</td>
            <td>If <span class="hfont">"include_cemented"</span> is set to <span class="hfont">true</span></td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['block_count'].out_str"></nn-pasteable>
    <pre>{{ samples['block_count'].out_str }}</pre>
</div>