
<p>
    Returns the number of blocks in the ledger and unchecked, synchronising blocks for the NanoVerse node.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('block_info')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"block_info"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>A 64 uppercase character block hash.</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"json_block"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span>.</div>
                If <span class="hfont">true</span>, the response will contain a JSON block for <span class="hfont">"contents"</span>,
                instead of a JSON string.
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['block_info'].in_str"></nn-pasteable>
    <pre>{{ samples['block_info'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('block_info')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"block_account"</span></td>
            <td>string</td>
            <td>The account that contains the provided block hash, <span class="hfont">"hash"</span>.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"amount"</span></td>
            <td>string representation of uint128</td>
            <td>
                The amount of NANO sent or received with this block, in <a class="link" ng-href="{{static.url.raw}}">raw</a>.
                <div>Will be 0 in <span class="hfont">change</span> or <span class="hfont">epoch</span> blocks.</div>
            </td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"balance"</span></td>
            <td>string representation of uint128</td>
            <td>
                The amount of NANO in this account, <b>after</b> this transaction.
                <ul>
                    <li>If balance < previous block balance, then this block is a <span class="hfont">send</span> block.</li>
                    <li>If balance > previous block balance, then this block is a <span class="hfont">receive</span> block.</li>
                </ul>
                In version 19.0+, <span class="hfont">send</span> and <span class="hfont">receive</span> blocks can also be differentiated using the 
                <span class="hfont">"subtype"</span> response parameter.
            </td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"height"</span></td>
            <td>string representation of uint128</td>
            <td>The height of this block in this account's chain.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"contents"</span></td>
            <td>string</td>
            <td>
                A JSON string containing the contents of the block.
                If <span class="hfont">"json_block"</span> is set to <span class="hfont">true</span>, a JSON 
                object will be returned instead.
            </td>
            <td>Always</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"local_timestamp"</span></div>
                <div class="version">Version 18.0+</div>
            </td>
            <td>string representation of int</td>
            <td>
                Timestamp when the block was received by the NanoVerse node, in seconds since epoch. 
                Since NANO is a completely asynchronous network, this value may differ from your own node.
            </td>
            <td>Always</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"confirmed"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>string representation of boolean</td>
            <td>The block's confirmation status. Confirmation state is introduced in version 19 of the NANO network with block cementing.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"subtype"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>string</td>
            <td>The type of block (only present for state blocks).</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['block_info'].out_str"></nn-pasteable>
    <pre>{{ samples['block_info'].out_str }}</pre>
</div>