
<p>
    Request confirmation for a block from known online representative nodes. 
    Check the results by calling <a class="link" href="#confirmation_history">confirmation_history</a>.
</p>
<p>
    If <span class="hfont">"hash"</span> is not a valid block hash, <span class="hfont">"Block not found"</span> error will be returned.
</p>
<div class="version">Version 12.2+</div>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('block_confirm')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"block_confirm"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>The hash of the block to be confirmed (64 character string)</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['block_confirm'].in_str"></nn-pasteable>
    <pre>{{ samples['block_confirm'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('block_confirm')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"started"</span></td>
            <td>string representation of integer</td>
            <td>Returns <span class="hfont">"1"</span> if confirmation has been started, <span class="hfont">"0"</span> otherwise.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['block_confirm'].out_str"></nn-pasteable>
    <pre>{{ samples['block_confirm'].out_str }}</pre>
</div>