
<div class="version">Version 12.0+</div>
<p>
    Returns hash, tally weight, election duration and election confirmation timestamp for recent elections winners. 
</p>
<div>
    Also returns <span class="hfont">confirmation_stats</span>:
</div>
<ol>
    <li>Count of elections in history (limited to 2048)</li>
    <li>Average duration time, in milliseconds</li>
</ol>

<strong><p>Request parameters</p></strong>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"confirmation_history"</span>.</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>
                <div>Only the confirmation with that block hash will be returned.</div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['confirmation_history'].in_str"></nn-pasteable>
    <pre>{{ samples['confirmation_history'].in_str }}</pre>
</div>

<strong><p>Response parameters</p></strong>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>
                <div><span class="hfont">"confirmation_stats"</span></div>
                <div class="version">Version 17.0+</div>
            </td>
            <td>JSON object</td>
            <td>
                A JSON object containing 2 fields:
                <ol>
                    <li><span class="hfont">"count"</span> - the number of elections in history (up to 2048)</li>
                    <li><span class="hfont">"average"</span> - the average duration of these elections in history (in milliseconds).</li>
                </ol>
            </td>
            <td>Always</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"confirmations"</span></div>
                <div></div>
            </td>
            <td>Array of JSON objects</td>
            <td>
                An array of objects each containing the details of 1 confirmation. The parameters for each object are:
                <ul>
                    <li><span class="hfont">"hash"</span> - the block hash that was confirmed</li>
                    <li><span class="hfont">"duration"</span> - how long this block took to confirm (in milliseconds)</li>
                    <li><span class="hfont">"time"</span> - the (local) timestamp of when this confirmation took place (in seconds since epoch)</li>
                    <li><span class="hfont">"tally"</span> - the total weight, in <a class="link" ng-href="{{static.url.raw}}">raw</a>, in support of this block.</li>
                </ul>
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['confirmation_history'].out_str"></nn-pasteable>
    <pre>{{ samples['confirmation_history'].out_str }}</pre>
</div>