
<div class="version">Version 19.0+</div>

<p>
    Returns the hash of the block which is having the confirmation height set for, error otherwise. 
    When a block is being confirmed, it must confirm all blocks in the chain below and iteratively follow all receive blocks. 
    This can take a long time, so it can be useful to find which block was the original being confirmed.
</p>
<p>This is a diagnostics method for debugging purposes only - not for production use.</p>

<strong><p>Request parameters</p></strong>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"confirmation_height_currently_processing"</span>.</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['confirmation_height_currently_processing'].in_str"></nn-pasteable>
    <pre>{{ samples['confirmation_height_currently_processing'].in_str }}</pre>
</div>

<strong><p>Response parameters</p></strong>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>The block hash whose confirmation height is being set.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['confirmation_height_currently_processing'].out_str"></nn-pasteable>
    <pre>{{ samples['confirmation_height_currently_processing'].out_str }}</pre>
</div>