
<div class="version">Version 16.0+</div>
<p>
    Returns information about node elections settings & observed network state: 
</p>
<ol>
    <li>delta tally required to rollback block,</li>
    <li>percentage of online weight for delta,</li>
    <li>minimum online weight to confirm block, </li>
    <li>currently observed online total weight, </li>
    <li>known peers total weight.</li>
</ol>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('confirmation_quorum')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"confirmation_quorum"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"peer_details"</span></div>
                <div class="version">Version 17.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                <div>If <span class="hfont">true</span>, add account/ip/rep weight for each peer considered in the summation of peers_stake_total.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"peers_stake_required"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                <div>The effective peer stake needed for quorum. Per v19, this field is computed as <span class="hfont">max(quorum_delta, online_weight_minimum)</span></div></td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['confirmation_quorum'].in_str"></nn-pasteable>
    <pre>{{ samples['confirmation_quorum'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('confirmation_quorum')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>The account's public address (<span class="hfont">xrb_</span> or <span class="hfont">nano_</span> followed by 60 lowercase characters).</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['confirmation_quorum'].out_str"></nn-pasteable>
    <pre>{{ samples['confirmation_quorum'].out_str }}</pre>
</div>