
<p>
    Returns list of active elections roots in the network (excluding stopped and aborted elections). 
</p>
<p>
    To find information regarding a specific root, see <a class="link" href="#confirmation_info">confirmation_info.</a>
</p>
<div class="version">Version 16.0+</div>

<strong><p>Request parameters</p></strong>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"confirmation_active"</span>.</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"announcements"</span></td>
            <td>int</td>
            <td>
                <b>Default</b>: <span class="hfont">0</span>
                <div>If specified, only active elections with announcements count higher than or equal to <span class="hfont">"announcements"</span> will be returned. 
                    Useful for finding long running elections</div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['confirmation_active'].in_str"></nn-pasteable>
    <pre>{{ samples['confirmation_active'].in_str }}</pre>
</div>

<strong><p>Response parameters</p></strong>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"confirmations"</span></td>
            <td>Array of strings</td>
            <td>
                The array of currently active election roots. Each election root is a 128 uppercase character hexadecimal string. There are two cases
                <ol>
                    <li>
                        If this block is an open block (first block of an account), then the election root consists of 64
                        <span class="hfont">"0"</span>s followed by the account's public key.
                    </li>
                    <li>
                        For all other blocks: the election root consists of the two competing previous block hashes (each is a 64 uppercase character string). 
                    </li>
                </ol>
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['confirmation_active'].out_str"></nn-pasteable>
    <pre>{{ samples['confirmation_active'].out_str }}</pre>
</div>