
<div class="version">Version 16.0+</div>
<p>
    Given a valid election root, returns information about that election. 
</p>

<strong><p>Request parameters</p></strong>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"confirmation_info"</span>.</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"root"</span></td>
            <td>string</td>
            <td>
                An election root is a 128 uppercase character hexadecimal string. There are two cases
                <ol>
                    <li>
                        If this block is an open block (first block of an account), then the election root consists of 64
                        <span class="hfont">"0"</span>s followed by the account's public key.
                    </li>
                    <li>
                        For all other blocks: the election root consists of the two competing previous block hashes (each is a 64 uppercase character string). 
                    </li>
                </ol>
            </td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"contents"</span></td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">true</span>
                <div>If <span class="hfont">false</span>, will not return the <span class="hfont">"contents"</span> field of each block.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"json_block"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>If <span class="hfont">true</span>, the <span class="hfont">"contents"</span> parameter will be a JSON object instead of a JSON string.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td><span class="hfont">"representatives"</span></td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>If <span class="hfont">true</span>, returns a list of votes representatives and its weights for each block.</div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['confirmation_info'].in_str"></nn-pasteable>
    <pre>{{ samples['confirmation_info'].in_str }}</pre>
</div>

<strong><p>Response parameters</p></strong>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"confirmations"</span></td>
            <td>Array of strings</td>
            <td>
                The array of currently active election roots. Each election root is a 128 uppercase character hexadecimal string. There are two cases
                <ol>
                    <li>
                        If this block is an open block (first block of an account), then the election root consists of 64
                        <span class="hfont">"0"</span>s followed by the account's public key.
                    </li>
                    <li>
                        For all other blocks: the election root consists of the two competing previous block hashes (each is a 64 uppercase character string). 
                    </li>
                </ol>
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['confirmation_info'].out_str"></nn-pasteable>
    <pre>{{ samples['confirmation_info'].out_str }}</pre>
</div>