
<p>Returns a list of pairs of account and block hash representing the head block starting at account up to count.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('frontiers')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"frontiers"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>A valid account public address (<span class="hfont">xrb_...</span> or <span class="hfont">nano_...</span>).</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>uint</td>
            <td>The number of account/frontier blocks to return.</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['frontiers'].in_str"></nn-pasteable>
    <pre>{{ samples['frontiers'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('frontiers')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"frontiers"</span></td>
            <td>JSON object</td>
            <td>
                A JSON object containing account/frontier block pairs.
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['frontiers'].out_str"></nn-pasteable>
    <pre>{{ samples['frontiers'].out_str }}</pre>
</div>