
<p>Deterministically derive the public key and account number from a private key.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('key_expand')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"key_expand"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"key"</span></td>
            <td>string</td>
            <td>A valid private key (64 uppercase character hexadecimal).</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['key_expand'].in_str"></nn-pasteable>
    <pre>{{ samples['key_expand'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('key_expand')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"private"</span></td>
            <td>string</td>
            <td>The private key of this account (64 uppercase character hexadecimal string) - same as the request parameter <span class="hfont">"key"</span>.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"public"</span></td>
            <td>string</td>
            <td>The public key of this account (64 uppercase character hexadecimal string).</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>The account's public address (<span class="hfont">xrb_...</span> or <span class="hfont">nano_...</span>), 
                deterministically generated from the public key.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['key_expand'].out_str"></nn-pasteable>
    <pre>{{ samples['key_expand'].out_str }}</pre>
</div>