
<p>Returns frontier, open block, change representative block, balance, last modified timestamp from the
    local database & block count starting at account up to count. Includes unconfirmed blocks.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="unsupported-btn">
        <div>Not Supported Yet</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"ledger"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>A valid account public address 
                (<span class="hfont">xrb_...</span> or <span class="hfont">nano_...</span>).</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"count"</span></td>
            <td>unsigned integer</td>
            <td>
                <div>The number of blocks to consider.</div>
            </td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['ledger'].in_str"></nn-pasteable>
    <pre>{{ samples['ledger'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="unsupported-btn">
        <div>Not Supported Yet</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"accounts"</span></td>
            <td>JSON object</td>
            <td>
                Contains the account public addresses as well as their details: 
                <ul>
                    <li>frontier block - the latest block in this account's chain</li>
                    <li>open block - the earliest block in this account's chain</li>
                    <li>change representative block</li>
                    <li>balance (in <a class="link" ng-href="{{static.url.raw}}">raw</a>.</li>
                    <li>last modified timestamp (in seconds since epoch)</li>
                    <li>block count starting at account up to count.</li>
                </ul>
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['ledger'].out_str"></nn-pasteable>
    <pre>{{ samples['ledger'].out_str }}</pre>
</div>