
<div class="version">Version 8.0+</div>
<p>For a given block hash, check if the block is pending.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('pending_exists')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"pending_exists"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>The hash of the block for which we want to check the pending status of. 64 uppercase character hexadecimal string.</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"include_active"</span></div>
                <div class="version">Version 15.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                <div>If set to <span class="hfont">true</span>, active blocks (which are still undergoing confirmation), will also be considered.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"include_only_confirmed"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                <div>If set to <span class="hfont">true</span>, only blocks with a set confirmation height, 
                    or are undergoing confirmation height processing, will be considered.</div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['pending_exists'].in_str"></nn-pasteable>
    <pre>{{ samples['pending_exists'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('pending_exists')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"exists"</span></td>
            <td>string representation of int</td>
            <td><span class="hfont">"1"</span> if the pending block exists.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['pending_exists'].out_str"></nn-pasteable>
    <pre>{{ samples['pending_exists'].out_str }}</pre>
</div>