
<p>
    Returns a list of block hashes which have not yet been received by this account.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('pending')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"pending"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>
                A valid account public address 
                (<span class="hfont">xrb_...</span> or <span class="hfont">nano_...</span>)
            </td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"count"</span></td>
            <td>unsigned integer</td>
            <td>
                <b>Default</b>: <span class="hfont">-1</span>
                <div>The maximum number of block hashes to return. If unspecified, all pending block 
                    hashes will be returned. 
                </div>
                <div>
                    <b>Note</b>: API additionally limits this to a maximum of 1,000 
                    block hashes per query. 
                </div>
            </td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"threshold"</span></div>
                <div class="version">Version 8.0+</div>
            </td>
            <td>uint128</td>
            <td>
                If specified, only those pending blocks with <span class="hfont">"amount"</span> greater than or equal to <span class="hfont">"threshold"</span>
                will be returned.
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"source"</span></div>
                <div class="version">Version 9.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>If set to <span class="hfont">true</span>, the source account for each pending block will be included in the response.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"include_active"</span></div>
                <div class="version">Version 15.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>If set to <span class="hfont">true</span>, active blocks (which are still being confirmed), will in included in the response.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"sorting"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>If set to <span class="hfont">true</span>, the response blocks will be sorted by their amounts, in descending order.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"include_only_confirmed"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>If set to <span class="hfont">true</span>, only blocks with a set confirmation height, or those currently undergoing confirmation height processing, will be returned.</div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['pending'].in_str"></nn-pasteable>
    <pre>{{ samples['pending'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('pending')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"blocks"</span></td>
            <td>
                <div>string array</div>
                <div>- or -</div>
                <div>JSON object</div>
            </td>
            <td>
                Depending on the request parameters, <span class="hfont">"blocks"</span> will either be a string array of a JSON object.
                <div>
                    If <span class="hfont">"threshold"</span> and <span class="hfont">"source"</span> are both <span class="hfont">false</span> or not set, <span class="hfont">"blocks"</span>
                    will be a string array containing all the block hashes not yet received by this account. E.g.
                </div>
<div class="sample">
<pre>
{    
    <b>"blocks"</b> : [
        "000D...9F3F", 
        "5DAB...889B" 
    ]
}
</pre>
</div>

                <div>
                    If <span class="hfont">"threshold"</span> is <span class="hfont">true</span> but <span class="hfont">"source"</span> is either 
                    <span class="hfont">false</span> or unset, <span class="hfont">"blocks"</span> will be a JSON object, with the pending block hashes 
                    as properties, and their respective amounts as values. E.g.
                </div>

<div class="sample">
<pre>
{    
    <b>"blocks"</b> : {
        <b>"000D...9F3F"</b>: "600000000000000", 
        <b>"5DAB...889B"</b>: "1000000000000000000"
    }
}
</pre>
</div>
                <div>
                    If both <span class="hfont">"threshold"</span> and <span class="hfont">"source"</span> are <span class="hfont">true</span>, then 
                    <span class="hfont">"blocks"</span> will be also be a JSON object, with both amounts and source accounts as values. E.g.
                </div>

<div class="sample">
<pre>
{    
    <b>"blocks"</b> : {
        <b>"000D...9F3F"</b>: {
            <b>"amount"</b>: "600000000000000", 
            <b>"source"</b>: "xrb_3dcf...8mbr"
        },
        <b>"5DAB...889B"</b>: {
            <b>"amount"</b>: "1000000000000000000",
            <b>"source"</b>: "xrb_1abf...5fcc"
        }
    }
}
</pre>
</div>

            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>