
<p>Publish a block to the network.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('process')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"process"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"block"</span></td>
            <td>
                <div>JSON string</div>
                <div>- or -</div>
                <div>JSON object</div>
            </td>
            <td>
                <p>
                    A valid JSON string representation of a block. Please see <a class="link" href="#block_create">block_create</a> for documentation
                    regarding valid block structures.
                </p>
                <p>
                    If <span class="hfont">"json_block"</span> is <span class="hfont">true</span>, a JSON object will be expected instead of a JSON string.
                </p>
            </td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"force"</span></div>
                <div class="version">Version 13.1+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                <div>If set to <span class="hfont">true</span>, manually forces fork resolution if the processed block is not accepted as a fork.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"subtype"</span></div>
                <div class="version">Version 18.0+</div>
            </td>
            <td>string</td>
            <td>
                <div><b>Default</b>: <span class="hfont">""</span></div>
                <div>Additional check for state blocks subtype (send/receive/open/change/epoch). 
                    I.e. prevent accidental sending to incorrect accounts instead of receiving pending blocks</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"json_block"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                <div>If set to <span class="hfont">true</span>, <span class="hfont">"block"</span> must be a JSON object rather than a JSON string.</div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['process'].in_str"></nn-pasteable>
    <pre>{{ samples['process'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('process')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>The block hash: 64 uppercase character hexadecimal string.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['process'].out_str"></nn-pasteable>
    <pre>{{ samples['process'].out_str }}</pre>
</div>