
<p>Returns a list of representatives and their respective voting weights (in <a class="link" ng-href="{{static.url.raw}}">raw</a>), in alphabetical order.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('representatives')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"representatives"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"count"</span></div>
                <div class="version">Version 9.0+</div>
            </td>
            <td>unsigned integer</td>
            <td>
                Returns the first <span class="hfont">"count"</span> representatives when ordered alphabetically.
            </td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"sorting"</span></div>
                <div class="version">Version 9.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                <div>
                    If set to <span class="hfont">true</span>, the representatives will be returned in descending order of their voting weight, and the 
                    <span class="hfont">"count"</span> will be ignored. 
                </div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['representatives'].in_str"></nn-pasteable>
    <pre>{{ samples['representatives'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('representatives')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"representatives"</span></td>
            <td>JSON object</td>
            <td>A JSON object containing the representative accounts and their voting weights, in <a class="link" ng-href="{{static.url.raw}}">raw</a>.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['representatives'].out_str"></nn-pasteable>
    <pre>{{ samples['representatives'].out_str }}</pre>
</div>