
<div class="version">Version 18.0+</div>

<p>Returns a list of online representative accounts that have voted recently.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('representatives_online')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"representatives_online"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"weight"</span></div>
                <div class="version">Version 17.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                <div>Returns the voting weight for each representative, in <a class="link" ng-href="{{static.url.raw}}">raw</a>.</div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['representatives_online'].in_str"></nn-pasteable>
    <pre>{{ samples['representatives_online'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('representatives_online')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"representatives"</span></td>
            <td>
                <div>string array</div>
                <div>- or -</div>
                <div>JSON object</div>
            </td>
            <td>
                <div>
                    If <span class="hfont">"weight"</span> is <span class="hfont">false</span> or not set, <span class="hfont">"representatives"</span>
                    will be a string array containing the online representative accounts' public addresses. E.g.
                </div>
                
<div class="sample">
<pre>
{
    "representatives" : [  
        "xrb_1111...rpda",  
        "xrb_1111...tecn",  
        "xrb_114n...r1xi"  
        ...
    ]
}
</pre>
                <div>
                    If <span class="hfont">"weight"</span> is <span class="hfont">true</span>, <span class="hfont">"representatives"</span> will be 
                    a JSON object containing the online representative accounts' public addresses and their voting weight, in <a class="link" ng-href="{{static.url.raw}}">raw</a>. E.g.
                </div>
                
<div class="sample">
<pre>
{
    "representatives" : {
        "xrb_114n...r1xi": {
            "weight": "1504"
        }
    }
}
</pre>
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>