
<p>Rebroadcast all blocks starting with <span class="hfont">"hash"</span> to the network.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="unsupported-btn">
        <div>Not Supported Yet</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"republish"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>The first block to republish to the network. 64 uppercase character hexadecimal string.</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"sources"</span></div>
                <div class="version">Version 8.0+</div>
            </td>
            <td>integer</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                <div>
                    If set to <span class="hfont">true</span>, additionally rebroadcast source chain blocks for receive/open up to <span class="hfont">"sources"</span> depth.
                </div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"destinations"</span></div>
                <div class="version">Version 8.0+</div>
            </td>
            <td>integer</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                <div>
                    If set to <span class="hfont">true</span>, additionally rebroadcast destination chain blocks from receive up to <span class="hfont">"destinations"</span> depth.
                </div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['republish'].in_str"></nn-pasteable>
    <pre>{{ samples['republish'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="unsupported-btn">
        <div>Not Supported Yet</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"blocks"</span></td>
            <td>string array</td>
            <td>Array of republished block hashes, starting with <span class="hfont">"hash"</span>.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['republish'].out_str"></nn-pasteable>
    <pre>{{ samples['republish'].out_str }}</pre>
</div>