
<div class="version">Version 18.0+</div>

<p>Sign a block using either a private key, or a wallet ID and account public address.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('sign')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"sign"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"block"</span></td>
            <td>
                <div>string</div>
                <div>- or -</div>
                <div>JSON object</div>
            </td>
            <td>
                <div>
                    A JSON string representation of a valid block to be signed. 
                    For documentation on valid blocks, please see <a class="link" href="#block_content">block_content</a>.
                </div>
                <div>
                    If <span class="hfont">"json_block"</span> is set to <span class="hfont">true</span>, then a JSON object is expected 
                    for this parameter instead of a JSON string.
                </div>
            </td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"json_block"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>integer</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                <div>
                    If set to <span class="hfont">true</span>, a JSON object will be expected for <span class="hfont">"block"</span>, instead of a JSON string.
                    A JSON block will also be returned. 
                </div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['sign'].in_str"></nn-pasteable>
    <pre>{{ samples['sign'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('sign')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"signature"</span></td>
            <td>string</td>
            <td>The 128 uppercase hexadecimal signature of this block.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"block"</span></td>
            <td>
                <div>JSON string</div>
                <div>- or -</div>
                <div>JSON object</div>
            </td>
            <td>
                <div>
                    A JSON string representation of the request parameter <span class="hfont">"block"</span>. Will be identical to the request parameter
                    except for the <span class="hfont">"signature"</span> parameter which will be replaced by the new signature.
                </div>
                <div>
                    If <span class="hfont">"json_block"</span> is set to <span class="hfont">true</span>, a JSON object will be returned instead.
                </div>
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['sign'].out_str"></nn-pasteable>
    <pre>{{ samples['sign'].out_str }}</pre>
</div>