
<div class="version">Version 12.2+</div>

<p>Returns the statistics.</p>

<div class="subheading">
    <b><h3>Sample request type: counters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('stats')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<div class="sample">
    <nn-pasteable text="samples['stats'].in_str"></nn-pasteable>
    <pre>{{ samples['stats'].in_str }}</pre>
</div>
<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['stats'].out_str"></nn-pasteable>
    <pre>{{ samples['stats'].out_str }}</pre>
</div>

<div class="subheading">
    <div><b><h3>Sample request type: samples</h3></b></div>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('stats')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<div>
<div class="sample">
    <nn-pasteable text="samples['stats'].in_samples_str"></nn-pasteable>
    <pre>{{ samples['stats'].in_samples_str }}</pre>
</div>
</div>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['stats'].out_samples_str"></nn-pasteable>
    <pre>{{ samples['stats'].out_samples_str }}</pre>
</div>


<div class="subheading">
    <b><h3>Sample request type: objects</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('stats')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<div>
<div class="sample">
    <nn-pasteable text="samples['stats'].in_objects_str"></nn-pasteable>
    <pre>{{ samples['stats'].in_objects_str }}</pre>
</div>
</div>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['stats'].out_objects_str"></nn-pasteable>
    <pre>{{ samples['stats'].out_objects_str }}</pre>
</div>