
<p>
    Returns a consecutive list of <span class="hfont">"count"</span> block hashes in the account chain starting with 
    <span class="hfont">"block"</span> (direction can be specified to be either from the frontier back to the open block, or from newer blocks to older). 
</p>
<p>
    In the NANO node RPC, if <span class="hfont">"count"</span> is set to <span class="hfont">-1</span>, all blocks back to the open block of this chain will be returned. 
    However, this API imposes an additional limit of maximum 1000 block hashes will be returned in a single query. 
</p>
<p>
    The requested block hash is included in the answer.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('successors')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"successors"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"block"</span></td>
            <td>string</td>
            <td>The hash of the first block to return. This block will be included in the array of returned blocks.</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"count"</span></td>
            <td>int</td>
            <td>
                <b>Default</b>: <span class="hfont">-1</span>
                <div>The number of block hashes to return. If not specified, will return up to 1,000 blocks.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td><span class="hfont">"offset"</span></td>
            <td>int</td>
            <td>
                <b>Default</b>: <span class="hfont">0</span>
                <div>Return the account block hashes offset by the specified number of blocks</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td><span class="hfont">"reverse"</span></td>
            <td>boolean</td>
            <td>
                <b>Default</b>: <span class="hfont">false</span>
                <div>
                    If <span class="hfont">true</span>, Returns a list of block hashes in the account chain starting at block up to count 
                    (direction from frontier block up to open block, from newer blocks to older).
                </div>
                <div>Using this method with <span class="hfont">"reverse"</span> set as <span class="hfont">true</span> is identical to <a class="link" href="#chain">chain</a></div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['successors'].in_str"></nn-pasteable>
    <pre>{{ samples['successors'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('successors')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"blocks"</span></td>
            <td>
                <div>Array of strings</div>
                <div>- or -</div>
                <div>string</div>
            </td>
            <td>
                <div>If there are any blocks with the given parameters, an array of strings representing the account's block hashes will be returned.</div>
                <div>If there are no blocks matching the parameters, an empty string <span class="hfont">""</span> will be returned instead.</div>
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['successors'].out_str"></nn-pasteable>
    <pre>{{ samples['successors'].out_str }}</pre>
</div>