
<div class="version">Version 8.0+</div>
<p>Clears all unchecked synchronizing blocks</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="unsupported-btn">
        <div>Not Supported Yet</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"unchecked_clear"</span></td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['unchecked_clear'].in_str"></nn-pasteable>
    <pre>{{ samples['unchecked_clear'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="unsupported-btn">
        <div>Not Supported Yet</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"success"</span></td>
            <td>string</td>
            <td><span class="hfont">""</span></td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['unchecked_clear'].out_str"></nn-pasteable>
    <pre>{{ samples['unchecked_clear'].out_str }}</pre>
</div>