
<div class="version">Version 8.0+</div>
<p>Returns a list of pairs of unchecked synchronizing block hash and its json representation up to count</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('unchecked')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"unchecked"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"count"</span></td>
            <td>integer</td>
            <td>
                <div><b>Default</b>: <span class="hfont">-1</span></div>
                <div>
                    The number of unchecked blocks to ne returned. If unspecified or set to <span class="hfont">-1</span> or <span class="hfont">0</span>, all unchecked blocks will be returned. 
                </div>
                <div>
                    <b>Note</b>: API limits the maximum number of returned blocks to 1,000 per request.
                </div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['unchecked'].in_str"></nn-pasteable>
    <pre>{{ samples['unchecked'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('unchecked')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"blocks"</span></td>
            <td>JSON object</td>
            <td>
                A JSON object containing all unchecked block hashes and their block information. See 
                <a class="link" href="#block_content">block_content</a> for details on how a block is structured.
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['unchecked'].out_str"></nn-pasteable>
    <pre>{{ samples['unchecked'].out_str }}</pre>
</div>