
<div class="version">Version 8.0+</div>
<p>Retrieves a json representation of unchecked synchronizing block by hash.</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('unchecked_get')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"unchecked_get"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>The hash of the unchecked block to retrieve. 60 uppercase character hexadecimal string.</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['unchecked_get'].in_str"></nn-pasteable>
    <pre>{{ samples['unchecked_get'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('unchecked_get')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"contents"</span></td>
            <td>string</td>
            <td>A JSON string representation of the block contents. Please see <a class="link" href="#block_create">block_create</a></td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['unchecked_get'].out_str"></nn-pasteable>
    <pre>{{ samples['unchecked_get'].out_str }}</pre>
</div>