
<div class="version">Version 8.0+</div>
<p>
    Retrieves unchecked database keys, blocks hashes & a json representations 
    of unchecked pending blocks starting from key up to count.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('unchecked_keys')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"unchecked_keys"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"key"</span></td>
            <td>string</td>
            <td>A valid database key</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"count"</span></td>
            <td>integer</td>
            <td>
                <div>
                    <b>Default</b>: <span class="hfont">false</span>
                </div>
                <div>
                    The number of unchecked database keys to return. If unspecified or 
                    <span class="hfont">-1</span>, all unchecked keys will be returned. 
                </div>
                <div><b>Note</b>: API imposes an additional limit of maximum 1,000 returned entries per request.</div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['unchecked_keys'].in_str"></nn-pasteable>
    <pre>{{ samples['unchecked_keys'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('unchecked_keys')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"contents"</span></td>
            <td>string</td>
            <td>A JSON string representation of the block contents. Please see <a class="link" href="#block_create">block_create</a></td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['unchecked_keys'].out_str"></nn-pasteable>
    <pre>{{ samples['unchecked_keys'].out_str }}</pre>
</div>