<div class="version">Version 19.0+</div>
<p>
    Returns the total pending balance for unopened accounts in the local database, starting at <span class="hfont">"account"</span>
    up to <span class="hfont">"count"</span>, sorted alphabetically by account public address. By default, the returned value will exclude the burn account.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('unopened')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"unopened"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"account"</span></td>
            <td>string</td>
            <td>
                The account which the response should start with. Must be valid account public address
                that is unopened.
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td><span class="hfont">"count"</span></td>
            <td>integer</td>
            <td>
                <div>The number of accounts to be returned.</div>
                <div><b>API limit</b>: up to 1,000 accounts will be returned with a single query.</div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td><span class="hfont">"threshold"</span></td>
            <td>uint128</td>
            <td>
                <div><b>Default</b>: <span class="hfont">0</span></div>
                <div>If specified, only accounts with total pending balance, in <a class="link" ng-href="{{static.url.raw}}">raw</a>, above <span class="hfont">"threshold"</span> will be returned.</div>
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['unopened'].in_str"></nn-pasteable>
    <pre>{{ samples['unopened'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('unopened')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"accounts"</span></td>
            <td>JSON object</td>
            <td>
                A JSON object containing a list of account public addresses, 
                and their pending balances in <a class="link" ng-href="{{static.url.raw}}">raw</a>.
            </td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['unopened'].out_str"></nn-pasteable>
    <pre>{{ samples['unopened'].out_str }}</pre>
</div>