
<p>
    Check whether account is a valid account address using 8 character checksum at the end of the address.
</p>
<div>
    An NANO address consists of 3 parts:
    <ol>
        <li><strong>The prefix</strong>: either <span class="hfont">xrb_</span> or <span class="hfont">nano_</span></li>
        <li><strong>The encoded account public key</strong>: a 52-character string encoding of the account's public key</li>
        <li><strong>The checksum</strong>: a 8-character checksum determined by the encoded public key</li>
    </ol>
</div>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('validate_account_number')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"validate_account_number"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"block"</span></td>
            <td>string</td>
            <td>The hash of the first block to return. This block will be included in the array of returned blocks.</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['validate_account_number'].in_str"></nn-pasteable>
    <pre>{{ samples['validate_account_number'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('validate_account_number')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"valid"</span></td>
            <td>integer</td>
            <td><span class="hfont">"1"</span> if the account is valid, <span class="hfont">"0"</span> otherwise.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['validate_account_number'].out_str"></nn-pasteable>
    <pre>{{ samples['validate_account_number'].out_str }}</pre>
</div>