
<div>Returns:</div>
<ol>
    <li>The RPC version (always <span class="hfont">"1"</span> as of 01/11/2018)</li>
    <li>The Store version</li>
    <li>The Protocol (network) version</li>
    <li>Node (Major & Minor version)</li>
</ol>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('version')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"version"</span></td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['version'].in_str"></nn-pasteable>
    <pre>{{ samples['version'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('version')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"rpc_version"</span></td>
            <td>integer</td>
            <td>The RPC version (always <span class="hfont">"1"</span> as of 01/11/2018)</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"store_version"</span></td>
            <td>integer</td>
            <td>The store version</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"protocol_version"</span></td>
            <td>integer</td>
            <td>The protocol version</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"node_vendor"</span></td>
            <td>integer</td>
            <td>The node vendor</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['version'].out_str"></nn-pasteable>
    <pre>{{ samples['version'].out_str }}</pre>
</div>