
<div class="version">Version 8.0+</div>
<p>
    Check whether work is valid for a given block.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('work_validate')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"work"</span></td>
            <td>string</td>
            <td>The Proof-of-Work (16 character hexadecimal string).</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>The hash of the block for which the work was generated (64 uppercase character hexadecimal string).</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"difficulty"</span></td>
            <td>string</td>
            <td>The difficulty level of this Proof-of-Work (16 character hexadecimal string).</td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['work_validate'].in_str"></nn-pasteable>
    <pre>{{ samples['work_validate'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('work_validate')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"valid"</span></td>
            <td>string representation of integer</td>
            <td>
                <span class="hfont">"1"</span> if provided work is valid given the 
                <span class="hfont">"hash"</span> and <span class="hfont">"difficulty"</span> level (optional).
                <span class="hfont">"0"</span> if invalid.
            </td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"difficulty"</span></td>
            <td>string</td>
            <td>The difficulty level of the Proof-of-Work.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"multiplier"</span></td>
            <td>string</td>
            <td>The work's difficulty level over the baseline difficulty.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['work_validate'].out_str"></nn-pasteable>
    <pre>{{ samples['work_validate'].out_str }}</pre>
</div>