
<p>
    Stop generating work for a given block.
</p>
    
<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('work_cancel')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>The hash of the block for which to stop generating work. 64 uppercase character hexadecimal string.</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['work_cancel'].in_str"></nn-pasteable>
    <pre>{{ samples['work_cancel'].in_str }}</pre>
</div>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['work_cancel'].out_str"></nn-pasteable>
    <pre>{{ samples['work_cancel'].out_str }}</pre>
</div>