
<p>
    Generates work for a given block.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('work_generate')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"work_generate"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"hash"</span></td>
            <td>string</td>
            <td>
                <div>
                    If this block is an <span class="hfont">open</span> block, 
                    <span class="hfont">"hash"</span> will be the 
                    public key of the account publishing the block. 
                    An account's public key is a 64 uppercase character hexadecimal string, and can be found with
                    <a href="#account_get" class="link">account_get</a>.    
                </div>
                <div>
                    If this is not a open block, then <span class="hfont">"hash"</span> will 
                    be the frontier of the account publishing the block. (The last block in the account's chain).
                </div>
            </td>
            <td>Yes</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"use_peers"</span></div>
                <div class="version">Version 14.0+</div>
            </td>
            <td>boolean</td>
            <td>
                <div><b>Default</b>: <span class="hfont">false</span></div>
                <div>
                    If <span class="hfont">true</span>, 
                    then the node will query its work peers (if it has any). Without this parameter, the node will only generate work locally.
                </div>
            </td>
            <td>No</td>
        </tr>
        <tr>
            <td>
                <div><span class="hfont">"difficulty"</span></div>
                <div class="version">Version 19.0+</div>
            </td>
            <td>string</td>
            <td>
                The difficulty value (16 character hexadecimal string).
                If specified, will generate work with this difficulty value.
            </td>
            <td>No</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['work_generate'].in_str"></nn-pasteable>
    <pre>{{ samples['work_generate'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="try-btn try-btn-small" ng-click="setConsoleDisplay('work_generate')">
        <img src="/resources/arrow.png">
        <div>TRY IT OUT</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"work"</span></td>
            <td>string</td>
            <td>The Proof-of-Work - a 16 character hexadecimal string.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"difficulty"</span></td>
            <td>string</td>
            <td>The difficulty level of this Proof-of-Work. 16 character hexadecimal string.</td>
            <td>Always</td>
        </tr>
        <tr>
            <td><span class="hfont">"multiplier"</span></td>
            <td>decimal</td>
            <td>The <span class="hfont">"difficulty"</span> multiplier over the baseline difficulty.</td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['work_generate'].out_str"></nn-pasteable>
    <pre>{{ samples['work_generate'].out_str }}</pre>
</div>