
<div class="version">Version 8.0+</div>
<p>
    Add specific <b>IP address</b> and <b>port</b> as a work peer for node until restart.
</p>

<div class="subheading">
    <b><h3>Request parameters</h3></b>
    <button class="unsupported-btn">
        <div>Not Supported Yet</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Required</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"action"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">"work_peer_add"</span></td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"address"</span></td>
            <td>string</td>
            <td>The IP address of the work peer to be added.</td>
            <td>Yes</td>
        </tr>
        <tr>
            <td><span class="hfont">"port"</span></td>
            <td>string</td>
            <td>The port of the work peer to be added.</td>
            <td>Yes</td>
        </tr>
    </tbody>
</table>

<p>Sample request:</p>
<div class="sample">
    <nn-pasteable text="samples['work_peer_add'].in_str"></nn-pasteable>
    <pre>{{ samples['work_peer_add'].in_str }}</pre>
</div>

<div class="subheading">
    <b><h3>Response parameters</h3></b>
    <button class="unsupported-btn">
        <div>Not Supported Yet</div>
    </button>
</div>
<table cellspacing="0">
    <thead>
        <tr>
            <td>Parameter</td>
            <td>Type</td>
            <td>Description</td>
            <td>Present</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><span class="hfont">"success"</span></td>
            <td>string</td>
            <td>Always <span class="hfont">""</span></td>
            <td>Always</td>
        </tr>
    </tbody>
</table>

<p>Sample response:</p>
<div class="sample">
    <nn-pasteable text="samples['work_peer_add'].out_str"></nn-pasteable>
    <pre>{{ samples['work_peer_add'].out_str }}</pre>
</div>