html, body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    color: #003333;
}
::selection {
    color: white;
    background: #325b5b; /* WebKit/Blink Browsers */
}
::-moz-selection {
    color: white;
    background: #325b5b; /* Gecko Browsers */
}

.mob {
    font-size: 3vw;
    font-size: 3vmin;
}
p {
    font-size: 1em;
}
table {
    font-size: 1em;
}
span {
    font-size: 1em;
}

.no-decor {
    text-decoration-line: none;
}

/* Specifically for textual links */
.hfont {
    font-family: "Courier New", "Lucida Console";
    padding: 0.2em 0.4em;
    background-color: #dfdfdf;
    border-radius: 0.2em;
    white-space: nowrap;
    margin: 0 0.2em;
}
/* For other just fonts */
.simplefont {
    font-family: "Courier New", "Lucida Console";
}

.tall-line {
    line-height: 2em;
}
.link {
    color: #325b5b;
    font-weight: 700;
}
.link:hover {
    color: #003333;
}

.head {
    position: fixed;
    height: 3em;
    top: 0;
    width: 100%;
    color: #f2f2f2;
    background-color: #003333;
    border-bottom: 0.15em solid #001a1a;
    z-index: 10;
}
.head > a {
    height: 100%;
}
.head > * {
    display: inline-block;
    vertical-align: middle;
}
.menu {
    float: right;
}
.menu div {
    display: inline-block;
    position: relative;
    padding: 0.8em 1em 1em 1em;
    line-height: 100%;
    vertical-align: middle;
    color: #f2f2f2;
    opacity: 0.7;
    white-space: nowrap;
}
.menu div:hover {
    cursor: pointer;
    opacity: 1;
}
.menu .menu-label {
    vertical-align: super;
    font-size: 0.8em;
    padding: 0.1em 0.5em;
    background-color: #366363;
    color: white;
    border-radius: 1em;
}
.menu-mob {
    float: right;
}
.menu-mob > img {
    height: 1.6em;
    margin: 0.75em;
    opacity: 0.7;
}
.menu-mob > img:focus {
    opacity: 1;
}
.mob .menu {
    position: absolute;
    display: block;
    top: 3em;
}
.mob .menu div {
    position: relative;

    width: 100%;
    padding: 1em;

    text-align: center;
    color: #f2f2f2;
    background-color: #2d5252;
    border-top: 0.1em solid #003333;

    opacity: 1;
    white-space: nowrap;
}
.hide {
    opacity: 0;
}
.unhide {
    opacity: 1;
    transition: opacity 0.2s linear;
}

.logo {
    padding: 0.5em 0.5em 0.5em 1em;
    height: 2em;
    opacity: 0.7;
    cursor: pointer;
}
.title {
    margin: 0.4em 0.2em;
    padding: 0;
    font-size: 2em;
    opacity: 0.9;
}
.title1 {
    opacity: 0.5;
}
.txt-right {
    text-align:right;
}
.txt-center {
    text-align:center;
}

.left-panel {
    position: fixed;
    top: 3em;
    left: 0;
    height: 100%;
    height: calc(100% - 3em);
    width: 50%;
    background-color: #2d5252;
    display: flex;

    border-right: 0.2em solid #001a1a;
    z-index: 5;
}
.tablet .left-panel {
    height: 50%;
    height: calc(50% - 3em);
    width: 100%;
    border-right: none;
}
.mob .left-panel {
    height: 50%;
    height: calc(50% - 6em);
    width: 100%;
    border-right: none;
}
.mob-nav-panel {
    position: fixed;
    display: flex;
    flex-direction: row;
    top: 50%;
    top: calc(50% - 3em);
    left: 0;
    height: 3em;
    width: 100%;

    padding: 0.5em 1em 0 1em;
    background-color: #001a1a;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.mob-nav-panel > div {
    padding: 0.5em;
    flex-basis: 50%;
    color: #325b5b;
    text-align: center;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    cursor: pointer;
}
.mob-nav-panel > .selected {
    background-color: #003333;
    color: white;
}

.right-panel {
    position: fixed;
    height: 100%;
    height: calc(100% - 3em);
    width: 50%;
    top: 3em;
    right: 0;

    display: flex;
    flex-direction: column;
}
.tablet .right-panel {
    display: flex;
    flex-direction: row;
    top: 50%;
    height: 50%;
    width: 100%;
}
.tablet .right-panel > div {
    flex-basis: 50%;
}
.mob .right-panel {
    display: block;
    top: 50%;
    height: 50%;
    width: 100%;
}

.nav-panel {
    position: relative;
    flex-basis: 15em;
    color: white;
    max-width: 15em;
    min-width: 15em;
    overflow-y: auto;
}
.mob .nav-panel {
    display: none;
}
.nav-panel-search {
    width: 100%;
    width: calc(100% - 1em);

    padding: 0.7em 1em;
    margin: 0.5em;

    color: white;
    background-color: #003333;
    border: none;
    border-top: 0.15em solid #001a1a;
    border-left: 0.15em solid #001a1a;
    border-radius: 0.3em;

    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
}
.nav-panel-item {
    width: 100%;
    padding: 0.3em 0.5em;
    color: #e6e6e6;
    border-bottom: 0.05em solid #003333;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    cursor: pointer;
    /*transition: all linear 0.1s;*/
}
.nav-panel-item:hover {
    background-color: #003333;
    color: white;
    /*transition: all linear 0.1s;*/
}
.nav-panel-item-active {
    color: white;
    background-color: #003333;
}

.content-load {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #325b5b;
    z-index: -1;
}
.content-load .loader-wrap {
    position: absolute;
    top: 50%;
    width: 100%;
    font-size: 2em;
    color: #7bb7b7;
    text-align: center;
    font-family: "Lucida Console";
}

.content {
    flex-basis: 40%;
    flex-grow: 1;
    background-color: #f2f2f2;
    overflow-y: auto;

    padding: 0.8em;
}
.content .methods-heading {
    margin-top: 3em;
}
.content .methods-heading > div:first-child {
    display: inline-block;
}
.content .methods-heading > div:last-child {
    float: right;
}
.content .methods-heading-options {
    text-align: right;
    font-size: 0.8em;
    margin-top: 0.8em;
    text-decoration: underline;
    color: #325b5b;
}
.content .methods-heading-options > div:hover {
    color: #003333;
    cursor: pointer;
}

.content .heading {
    margin-top: 1em;
    margin-bottom: 1em;
    padding: 0.5em 1em;
    background-color: #3f7373;
    color: white;
    border-radius: 0.5em;
    
    cursor: pointer;
}
.content .heading:hover {
    background-color: #2d5252;
}
.content .method-title {
    display: inline-block;
    font-size: 1.5em;
    padding: 0;
    margin: 0;
    font-weight: 700;
}
.content .method-title > * {
    display: inline-block;
}
.content .method-title > img {
    height: 0.5em;
    margin-right: 0.5em;
}
.content .heading:hover .method-title > img {
    margin-left: 0.3em;
    margin-right: 0.2em;
}

.content .heading .panel {
    float: right;
    margin-top: 0.2em;
}
.content .heading .panel > img {
    height: 1.2em;
    margin-left: 0.5em;
    opacity: 0.7;
}
.content .heading .panel > img:first-child {
    transform: rotate(-90deg);
}
.content .heading .panel > img:last-child {
    transform: rotate(90deg);
}
.content .heading .panel > img:hover {
    opacity: 1;
    cursor: pointer;
}

.content .subheading {
    margin-top: 1em;
    display: flex;
}
.content .subheading > *:first-child {
    flex-grow: 1;
}
.content .response-code {
    font-family: "Courier New", "Lucida Console";
    padding: 0.2em;
    border-radius: 0.3em;
    margin-left: 1em;
    background-color: #e6e6e6;
    display: inline-block;
}
.content .general-endpoint > * {
    display: inline-block;
}
.content .general-endpoint > img {
    height: 1em;
    margin: -0.2em 0 0 0.2em;
    cursor: pointer;
    opacity: 0.5;
}
.content .general-endpoint > img:hover {
    opacity: 1;
}

.content ol, .content ul {
    padding-inline-start: 1em;
}
.content table {
    width: 100%;
    border: 0.05em solid lightgray;
    border-collapse: collapse;
}
.content table thead {
    font-weight: 700;
    background-color: #deeded;
}
.content table td {
    border: 0.05em solid lightgray;
    border-collapse: collapse;
    padding: 0.5em;
}
.content .sample {
    position: relative;
}
.content .sample pre {
    white-space: pre;
    position: relative;

    padding: 1em;
    width: 100%;
    color: #444444;
    background-color: #deeded;
    border: none;
    border-radius: 0.3em;
    line-height: 1.3em;

    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    overflow: auto;
}
.content .sample img {
    position: absolute;
    right: 0.5em;
    top: 0.5em;
    height: 1.2em;
    opacity: 0.5;
    cursor: pointer;
    z-index: 10;
}
.content .sample img:hover {
    opacity: 1;
}

.content .version {
    display: inline-block;
    margin-top: 0.5em;
    font-size: 0.8em;
    padding: 0.1em 0.8em;
    background-color: #3f7373;
    color: white;
    border-radius: 2em;    
    white-space: nowrap;
}
.content pre::-webkit-scrollbar {
    height: 0.5em;
}
.content pre::-webkit-scrollbar-track {
    background: #e6e6e6; 
}
.content pre::-webkit-scrollbar-thumb {
    background: #519494; 
}
.content pre::-webkit-scrollbar-thumb:hover {
    background: #325b5b; 
}
.content pre {

    /* moz */
    scrollbar-color: #519494 #e6e6e6;
    scrollbar-width: thin;
    
    /* IE */
    scrollbar-base-color: #e6e6e6;
    scrollbar-track-color: #e6e6e6;
    scrollbar-face-color: #519494;
    scrollbar-shadow-color: #e6e6e6;
    scrollbar-arrow-color: #e6e6e6;
}

.content .spacer {
    height: 4em;
    width: 100%;
}

.try-btn {
    font-size: 1.3em;
    margin: 1em 0;
    padding: 0.5em 1em;
    background-color: #325b5b;
    color: white;

    border: none;
    border-right: 0.15em solid #003333;
    border-bottom: 0.1em solid #003333;
    border-radius: 0.2em;
    cursor: pointer;
}
.try-btn:hover {
    background-color: #2d5252;
}
.try-btn > * {
    display: inline-block;
}
.try-btn > img {
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    margin-right: 0.3em;
    opacity: 0.85;
}
.try-btn-small {
    font-size: 1em; 
    background-color: #3f7373;
}
.unsupported-btn {
    font-size: 0.9em;
    margin: 1em 0;
    padding: 0.5em 1em;
    border: 0.1em solid #a6a6a6;
    background-color: #e6e6e6;
    color: #a6a6a6;
    border-radius: 0.2em;
    outline: none;
}

.console {
    display: flex;
    flex-direction: column;
    height: 50%;
    width: 100%;
}
.console-min {
    flex-basis: 0%;
    flex-grow: 0;
    flex-shrink: 1;
}
.console-max {
    flex-basis: 100%;
    flex-grow: 1;
    flex-shrink: 0;
}

.tablet .console {
    width: 50%;
    height: 100%;
}
.mob .console {
    width: 100%;
    height: 100%;
}

.console-header {
    padding-left: 1em;
    flex-basis: 3em;
    flex-shrink: 0;
    flex-grow: 0;
    background-color: #003333;
}
.console-header-tab {
    padding: 0.5em 1em 0 1em;
    margin-top: 0.5em;
    height: 2em;
    display: inline-block;
    color: #519494;
    background-color: #244242;
    border-top-left-radius: 0.3em;
    border-top-right-radius: 0.3em;
    cursor: pointer;
}
.console-header-tab:hover {
    color: white;
}
.console-header-tab-select {
    color: white;
    background-color: #325b5b;
}
.console-header-control {
    float: right;
    margin-top: 0.3em;
}
.console-header-control > div {
    display: inline-block;
    padding: 0.3em;
    width: 2em;
    text-align: center;
    color: white;
    vertical-align: middle;

    border: none;
    border-radius: 0.5em;

    opacity: 0.5;
}
.console-header-control > div:hover {
    opacity: 1;
    cursor: pointer;
}
.console-header-control > div > img {
    width: 1em;
}

.console-content {
    flex-grow: 1;
    position: relative;
    background-color: #325b5b;

    padding: 1em 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;

    overflow: hidden;
}
.console-content-min {
    height: 0.5em;
    background-color: #325b5b;
}
.tablet .console-content {
    border-left: 0.1em solid #003333;
    border-right: 0.1em solid #003333;
}

.console-loading {
    position: absolute;
    top: 50%;
    top: calc(50% - 2em);
    left: calc(50% - 2em);
    width: 4em;
    height: 4em;
}

.editor-copy-btn {
    position: absolute;
    right: 2em;
    top: 1em;
    height: 2em;
    width: 2em;
    opacity: 0.5;
    cursor: pointer;
}
.editor-copy-btn:hover {
    opacity: 1;
}

/* Editor styles */
.editor {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    font-size: 1.1em;
    overflow: auto;
}
.editor-gutter {
    flex-basis: 3em;
    flex-shrink: 0;
    flex-grow: 0;
    padding-top: 0.05em;
}
.editor-gutter > div {
    height: 1.2em;
    padding: 0 0 0.2em 0;
}
.editor-gutter-lines {
    margin-top: 0.05em;
    text-align: right;
    color: #488484;

    font-size: 1em;
    line-height: 1.2em;
    white-space: pre;
    border: none;
    outline: none;
}

.editor-content {
    flex-grow: 1;
    padding-left: 0.5em;
    color: white;
    cursor: text;
}
.editor-content .address {
    color: lightgray;
}
.editor-line-wrap {

    padding: 0;
    margin: 0;
    display: inline-block;

    width: 100%;
    color: white;
    white-space: pre;
    border: none;
    outline: none;
    font-size: 1em;
    line-height: 1.2em;
    vertical-align: top;
}
.editor-line-wrap p {
    margin: 0; /* IR problem */
}
.editor-line {
    width: 100%;
    height: 1.2em;
    border: 0;
    padding: 0 1em 0.2em 3.5em;
    margin: 0 0 0 -3.5em;
}
.editor-line:hover {
    background-color: rgba(255, 255, 255, 0.05);
}
.editor-line-select {
    background-color: rgba(255, 255, 255, 0.15) !important;
}
.editor-scroll {
    flex-basis: 1em;
}
.editor-control-panel {
    position: absolute;
    right: 1.5em;
    bottom: 1em;
}

.send-response-btn {
    font-size: 0.9em;

    width: auto;
    padding: 0.5em 1.5em 0.5em 1em;

    background-color: #3f7373;
    color: lightgray;
    font-weight: 700;

    border: 0.1em solid lightgray;
    border-radius: 0.3em;
    cursor: pointer;
}
.send-response-btn-dark {
    color: #bfbfbf;
    border-color: #bfbfbf;
    background-color: #2d5252;
}
.send-response-btn-dark > img {
    opacity: 0.5;
}
.send-response-btn > * {
    display: inline-block;
    vertical-align: middle;
}
.send-response-btn > img {
    height: 1em;
    margin-right: 0.5em;
}

.send-response-btn:hover {
    background-color: #519494;
    color: white;
    border-color: white;
}
.send-response-btn:hover img {
    opacity: 1;
}

/* Scrollable css -----------------------------------------------------------------  */

.dark-scrollbar::-webkit-scrollbar {
    width: 0.5em;
    height: 0.5em;
}
.dark-scrollbar::-webkit-scrollbar-corner {
    background: #325b5b;
}
.dark-scrollbar::-webkit-scrollbar-track {
    background: #325b5b; 
}
.dark-scrollbar::-webkit-scrollbar-thumb {
    background: #519494; 
}
.dark-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #003333; 
}

.dark-scrollbar {

    /* moz */
    scrollbar-color: #519494 #325b5b;
    scrollbar-width: thin;
    
    /* IE */
    scrollbar-base-color: #325b5b;
    scrollbar-track-color: #325b5b;
    scrollbar-face-color: #488484;
    scrollbar-shadow-color: #325b5b;
    scrollbar-arrow-color: #325b5b;
}

.scroll-corner-cover {
    position: absolute;
    height: 0.5em;
    width: 0.5em;
    bottom: -0.5em;
    right: -0.5em;
    z-index: 10;
}

/* Field data ---------------------------------------------------------------------- */
.console-fields {
    padding: 1em;
    color: #f2f2f2;
}
.console-fields table {
    width: 100%;
}
.console-fields table thead td {
    border-bottom: 0.05em solid #e6e6e6;
}


/* Bar loader ------------------------------------------------------------------------- */

.bar-preloader {
    position: relative;
    padding-bottom: 75%;
}
.bar-preloader > div {
    height: 100%;
    position: absolute;
}
.blocks-preloader {
    position: relative;
    padding-bottom: 100%;
}
.blocks-preloader > div {
    position: absolute;
}
